@import '~/variables';

.header.auth {
	margin-bottom: 30px;
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 80px;
	}

	.logo {
		display: flex;
		align-items: center;
		width: 155px;
		font-weight: 500;
		font-size: 24px;
	}
}
