@import '~/variables';
@import '~/mixin';

.about-wrapper {
  &__deposit {
    display: flex;
    align-items: center;

    .deposit {
      &__header {
        @include p((xs: 0));
      }

      &__title {
        @include mb((xs: 12));
        font-size: 36px;
        line-height: 46px;
        text-align: center;

        b {
          display: block;
        }
      }

      &__tabs-container {
        @include col((xs: 12));
        @include px((xs: 0, md: 5));
      }
    }
  }
}