@import '~/variables';
@import '~/mixin';

.about-wrapper {
    &__page-top {
        @include d-flex(center);
        @include height((xs: 600px, lg: unset));
        @include p((xs: sp(15) 0px, lg: 160px 0 sp(16) 0), i);
        background: $dark-grey;
        overflow: hidden;
        color: #fff;

        .page-top {
            &__header {
                @include col((xs: unset, md: 6, lg: 5));
                margin-top: sp(10);
            }

            .section-bg {
                @include backgroundPosition((xs: 75% 50%, lg: 50% 50%));
                background-size: cover;
                width: 100%;
                height: 100%;

                position: absolute;
                left: 0;
                top: 0;
                z-index: 0;
            }

            &__title {
                @include fontSize((xs: 36px, sm: 50px));
                @include lineHeight((xs: 40px, sm: 60px));
                @include mb((xs: 7));
                color: #fff;
                text-transform: uppercase;
            }

            &__description {
                @include fontSize((xs: 16px, lg: 18px));
                @include lineHeight((xs: 26px, lg: 30px));
                @include mb((xs: 9));
            }
        }

        button {
            @include height((xs: $btn-size-md, lg: $btn-size-lg));
            @include width((xs: 100%, sm: 225px));
            background: $dark-blue;
            border-radius: $border-radius;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
    }
}