@import '~/variables';
@import '~/mixin';

.affiliate-form,
.ib-form {
  .field.input,
  .field textarea,
  .field.select-wrapper {
    border-color: transparent;
    box-shadow: box-shadow(10, 0.05);
    border-radius: 0 !important;

    &.focused {
      border-color: $blue;
      box-shadow: box-shadow(10, 0.1);
    }
  }

  .common-tabs__container {
    overflow: visible;
  }

  .field.textarea {
    border-color: transparent;
    box-shadow: none;

    &.focused {
      textarea {
        border: 1px solid $dark-grey;
        border-color: $blue;
        box-shadow: box-shadow(10, 0.1);
      }
    }
  }
}
