@import '~/variables';
@import '~/mixin';

.common-button {
  background: $dark-blue;
  width: 100%;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $btn-size-md;
  border: 1.5px solid transparent;
  color: white;
  transition: box-shadow 0.25s, background 0.25s;
  padding: 0;

  a,
  a:hover {
    color: #ffffff;
    text-decoration: none;

    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    transition: color 0.2s;

    svg {
      transition: all 0.2s;
      fill: #ffffff;
    }
  }

  &:hover:not(.disabled) {
    box-shadow: box-shadow(10, 0.1);
  }

  &:focus {
    outline: transparent;
  }

  &:active {
    background: lighten($dark-blue, 5%);
  }

  &.secondary {
    color: $dark-blue;
    border-color: $dark-blue;
    background: transparent;

    a {
      color: $dark-blue;

      svg {
        fill: $dark-blue;
      }
    }

    &:hover {
      border-color: $dark-text;

      a {
        color: $dark-text;

        svg {
          fill: $dark-text;
        }
      }
    }
  }

  &.red {
    border-color: $red;
    background: $red;
    color: #fff;

    a {
      color: #fff;

      svg {
        fill: #fff;
      }
    }

    &.secondary {
      color: $red;
      background: transparent;

      a {
        color: $red;

        svg {
          color: $red;
        }
      }
    }
  }

  &.disabled {
    // border-color: $dark-grey;
    background: $grey;
    color: $dark-grey;

    a {
      color: $dark-grey;

      svg {
        fill: $dark-grey;
      }
    }

    &.secondary {
      border-color: $dark-grey;
    }
  }

  a,
  a:hover {
    color: #ffffff;
    text-decoration: none;

    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    transition: color 0.2s;

    svg {
      transition: all 0.2s;
      fill: #ffffff;
    }
  }
}