@import '~/variables';
@import '~/mixin';

.about-wrapper {
  &__deposit {
    @include d-flex(center);

    .deposit {
      &__header {
        @include px((xs: 0));
      }

      &__title {
        @include mb((xs: 11, lg: 13));
        @include p((xs: 0 sp(3), md: unset));
        @include fontSize((xs: 32px, md: 36px, lg: 44px));
        @include lineHeight((xs: 40px, md: 46px, lg: 52px));
        font-family: $font-family1;
        text-align: center;

        b {
          font-weight: 600;
        }

      }

      &__tabs-container {
        @include mt((xs: 12, md: 14, lg: 17));
        @include col((xs: 12));

        .common-table {
          .common-img {
            margin: auto;
          }
        }
      }
    }
  }
}