@import '~/variables';
@import '~/mixin';

.about-wrapper {
  &__deposit {
    display: flex;
    align-items: center;

    .deposit {
      &__title {
        @include mb((xs: 12));
        font-family: $font-family1;
        font-size: 44px;
        line-height: 52px;
        text-align: center;

        b {
          font-weight: 600;
        }

      }

      &__tabs-container {
        @include mt((xs: 13, md: 14, lg: 16));
        @include col((xs: 12));
        @include px((xs: 0, md: 5));

        .common-table {
          .common-img {
            margin: auto;
          }
        }
      }
    }

    @media (max-width: $viewport-md-w) {
      .container {
        max-width: 100%;
        padding: 0 sp(5);
      }

      .row {
        margin-left: 0;
        margin-right: 0;
      }

      .common-tabs__container {
        padding-left: sp(3) !important;
        padding-right: sp(3) !important;
      }

      .deposit {
        &__title {
          font-size: 36px;
          line-height: 46px;
        }
      }
    }

    @media (max-width: $viewport-sm-w) {
      .container {
        padding: 0 sp(3);
      }

      .deposit {
        &__title {
          font-size: 32px;
          line-height: 40px;
          padding: 0 sp(3);
        }
      }
    }
  }
}