@import '~/variables';

.upload-file-wrapper {
  .upload-file {
    &__empty-view {
      @include d-flex(center, center, column);
    }

    &__section {
      @include d-flex(center, center, column);
      border: 1px dashed $blue;
      border-radius: $border-radius;
      background: rgba(lighten($blue, 10%), 0.06) url('/assets/img/dots-bg.png');
      overflow: hidden;
      flex: 0 0 300px;
      min-height: 300px;
      max-height: 300px;

      font-size: 14px;
      line-height: 21px;
    }

    &__label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      margin: 0;
      cursor: pointer;

      input {
        position: absolute;
        left: -10000px;
      }
    }

    &__field-name {
      font-weight: 500;
      font-size: 16px;
      text-align: center;
    }

    &__drop-zone {
      @include d-flex(center, center);
      flex: 1 0 100%;
      width: 100%;
      overflow: hidden;
    }

    &__file-preview {
      @include d-flex(center, center);
      height: 140px;
      width: 140px;
      overflow: hidden;
      border-radius: $border-radius;
      background: $grey-bg;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;

      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;

      &__loader {
        $line-size: 4px;

        @include d-flex(center, center);
        border: $line-size solid lighten($dark-grey, 10%);
        box-shadow: inset 0 0 10px rgba($dark-blue, 0.5);
        width: 100%;
        height: 100%;

        &.error {
          border: $line-size solid lighten($red, 10%);
          box-shadow: inset 0 0 10px rgba($red, 0.5);
        }

        &:not(.error) {
          span {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;

            &:before,
            &:after {
              position: absolute;
              width: $line-size;
              height: 100%;
              background: $dark-blue;
              content: '';
              box-shadow: 0 0 20px $dark-blue;
            }

            &:before {
              top: auto;
              right: 0;
              bottom: 0;
              animation: drawframeRight 4s linear infinite 0.5s;
            }

            &:after {
              top: 0;
              bottom: auto;
              left: 0;
              animation: drawframeLeft 4s linear infinite 1.5s;
            }
          }

          &:before,
          &:after {
            position: absolute;
            width: 100%;
            height: $line-size;
            background: $dark-blue;
            box-shadow: 0 0 20px $dark-blue;
            content: '';
          }

          &:before {
            top: 0;
            right: 0;
            left: auto;
            animation: drawframeTop 4s linear infinite -0.02s;
          }

          &:after {
            right: auto;
            bottom: 0;
            left: 0;
            animation: drawframeBottom 4s linear infinite 1s;
          }
        }
      }
    }

    &__desc {
      @include d-flex(center, center);
      text-align: center;
    }

    &__icon {
      @include d-flex(center, center);
    }

    &__nav {
      @include d-flex(center, center, column);
      text-align: center;

      a {
        cursor: pointer;
        color: $blue !important;
        text-decoration: underline !important;
      }
    }
  }
}

/* Animations */
@keyframes drawframeTop {
  0% {
    right: 0;
    left: auto;
    width: 100%;
  }
  12.5% {
    right: 0;
    left: auto;
    width: 0%;
  }
  50% {
    right: auto;
    left: 0;
    width: 0%;
  }
  62.5% {
    right: auto;
    left: -4px;
    width: calc(100% + 4px);
  }
  100% {
    right: auto;
    left: -4px;
    width: calc(100% + 4px);
  }
}
@keyframes drawframeBottom {
  0% {
    right: auto;
    left: 0;
    width: 100%;
  }
  12.5% {
    right: auto;
    left: 0;
    width: 0%;
  }
  50% {
    right: 0;
    left: auto;
    width: 0%;
  }
  62.5% {
    right: 0;
    left: auto;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 100%;
  }
}
@keyframes drawframeRight {
  0% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  12.5% {
    top: auto;
    bottom: 0;
    height: 0%;
  }
  50% {
    top: 0;
    bottom: auto;
    height: 0%;
  }
  62.5% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
  100% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
}
@keyframes drawframeLeft {
  0% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
  12.5% {
    top: 0;
    bottom: auto;
    height: 0%;
  }
  50% {
    top: auto;
    bottom: 0;
    height: 0%;
  }
  62.5% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  100% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
}
