@import '~/variables';

.open-live-account-banner {
  padding: 100px 0 !important;
  display: flex;
  align-items: center;
  background: #1a1b1c;
  color: #fff;
  overflow: hidden;
  position: relative;

  &__title {
    font-size: 36px;
    line-height: 46px;

    b {
      display: block;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 30px;
  }

  .open-account {
    text-align: center;
    z-index: 1;
    margin-top: 2rem !important;
    margin-bottom: 3rem !important;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background: $dark-text;
      width: calc(100% + 40px);
      right: -10%;
      top: -5000%;
      height: 10000%;
      opacity: 0.5;
      z-index: -1;
    }
    button {
      margin: 0 auto;
    }
  }

  button {
    background: $dark-blue;
    border-radius: $border-radius;
    width: 235px;
    height: $btn-size-lg;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: $viewport-lg-w) {
    padding: 70px 0 34px 0 !important;
    z-index: 1;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background: $dark-text;
      width: 100%;
      left: 0;
      top: 50%;
      height: 50%;
      opacity: 0.5;
      z-index: -1;
    }

    &__title {
      font-size: 36px;
      line-height: 46px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__description {
      font-size: 18px;
      line-height: 30px;
    }

    .open-account {
      text-align: left;
      &:before {
        background-color: transparent;
      }
      button {
        margin: 0;
        width: 255px;
        height: 65px;
      }
    }
  }

  @media (max-width: $viewport-sm-w) {
    padding: 50px 0 0 0 !important;

    &__title {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__description {
      font-size: 16px;
      line-height: 26px;
    }

    .open-account {
      button {
        margin: 0;
        width: 280px;
        height: 50px;
      }
    }
  }
}
