@import '~/variables';
@import '~/mixin';

.legal-documents-wrapper {
  button {
    width: 190px;
    height: $btn-size-lg;
    background-color: $blue;
    font-family: $font-family1;
    line-height: 20px;

    svg {
      @include mr((xs: 6));
      height: 12px;
      width: 16px;
    }
  }

  &__page-top {
    @include d-flex(center, start, row);
    height: 280px;
    margin-top: 60px;
    padding: 68px 0 !important;
    color: $dark-text;

    .page-top {
      &__title {
        @include mb((xs: 11));
        font-family: $font-family1;
        font-size: 48px;
        font-weight: 600;
        line-height: 64px;
      }
    }

    @media (max-width: $viewport-lg-w) {
      height: 288px;

      .page-top {
        &__title {
          font-size: 44px;
        }
      }
    }

    @media (max-width: $viewport-md-w) {
      height: 400px;
      padding: 48px 0 !important;

      .full-height {
        height: 100%;
      }

      .page-top {
        &__header {
          @include d-flex(start, space-between, column);
        }

        &__title {
          font-size: 32px;
          line-height: 40px;
          color: $dark-text;
        }
      }
    }
  }

  @media (max-width: $viewport-lg-w) {
    button {
      width: 162px;
    }
  }

  @media (max-width: $viewport-md-w) {
    button {
      width: 158px;
    }
  }
}