@import '~/variables';
@import '~/mixin';

.leverage-wrapper {
  &__page-top {
    @include d-flex(center, start, row);
    @include mt((xs: 16));
    height: 608px;
    color: $dark-text;

    .page-top {
      &__header {
        @include col((md: 9, lg: 6));

        .note {
          font-size: 14px;
          line-height: 26px;
          color: $text;
        }
      }

      &__title {
        @include mb((xs: 7, md: 9));
        @include pr((lg: 4));
        font-family: $font-family1;
        font-size: 48px;
        line-height: 64px;
      }

      &__description {
        @include mb((xs: 11));
        font-size: 22px;
        line-height: 34px;
      }
    }

    @media (max-width: $viewport-lg-w) {
      height: 628px;
      align-items: flex-start;

      .page-top {
        &__header {
          .note {
            font-size: 14px;
            line-height: 26px;
            color: $text;
            position: absolute;
            right: -130px;
            bottom: -160px;
          }
        }

        &__title {
          font-size: 44px;
        }

        &__description {
          line-height: 30px;
        }
      }
    }

    @media (max-width: $viewport-md-w) {
      height: 540px;

      .page-top {
        &__title {
          font-size: 32px;
          line-height: 40px;
        }

        &__description {
          font-size: 20px;
          line-height: 28px;
        }

        &__header {
          .note {
            position: relative;
            right: unset;
            bottom: unset;
            top: 190px;
            text-align: center;
          }
        }
      }
    }
  }
}