@import '~/variables';
@import '~/mixin';

.header-panel-top-bar {
  position: relative;
  background: #fff;
  z-index: 81;

  &:before {
    content: '';
    background: #fff;
    height: 100%;
    width: 1000%;
    left: -500%;
    display: block;
    position: absolute;
    z-index: -1;
  }

  .top-bar {

    &__links {
      @include d-flex(center, flex-end);
      height: 30px;
    }

    &__item {
      @include d-flex(center);

      a {
        font-size: 14px;
        color: $dark-text;
      }

      svg {
        fill: $dark-text;
      }
    }
  }
}