@import '~/variables';
@import '~/mixin';

.header.main {
  position: absolute;

  .panel-menu {
    &:before {
      top: 0;
    }

    &.fixed {
      .header-panel-inline-menu {
        margin-bottom: 0;
      }

      .header-panel-logo {
        svg {
          @include fillLogo($blue, black, $dark-blue);
        }
      }
    }

    .header-panel-logo {
      svg {
        @include fillLogo($blue, black, $dark-blue);
      }
    }

    .header-panel-burger-toggle {
      svg {
        stroke: $dark-text;
      }
    }

    .header-panel-inline-menu {
      .menu__item {
        margin-right: sp(7);

        a {
          @include fontSize((lg: 15px, xl: 16px));
          color: $dark-text;
          font-family: $font-family1;

          &.active {
            color: $blue !important;
            font-weight: 600;

            &:after {
              background: $blue !important;
            }
          }
        }
      }
    }

    .header-panel-auth {

      .sign-in-btn,
      .open-account-btn {
        @include fontSize((xs: 16px, lg: 15px, xl: 16px));
      }

      .open-account-btn {
        color: $blue;
        border-color: $light-blue;
        background: $light-blue;

        a {
          color: $blue;
          font-weight: 500;

          svg {
            fill: $blue;
          }
        }

        &:hover {
          box-shadow: inset box-shadow(25, 0.1, $blue);
        }
      }
    }
  }
}