@import '~/variables';
@import '~/mixin';

.about-wrapper {
  &__page-top {
    @include d-flex();
    @include alignItems((xs: flex-end, lg: center));
    @include height((xs: 550px, sm: 500px, lg: 750px));
    @include p((xs: 70px 0, lg: 120px 0));
    background: $dark-grey;
    color: #fff;

    .page-top {
      &__header {
        @include col((xs: unset, md: 8, lg: 7))
      }

      &__title {
        @include fontSize((xs: 36px, lg: 55px));
        @include lineHeight((xs: 46px, lg: 63px));
        @include mb((xs: 7));
        color: #fff;
        font-weight: 500;
      }

      &__description {
        @include fontSize((xs: 16px, lg: 18px));
        @include lineHeight((xs: 24px, lg: 30px));
        @include mb((xs: 9));
      }
    }

    button {
      @include height((xs: $btn-size-md, lg: $btn-size-lg));
      @include width((xs: 100%, sm: 225px));
      background: $dark-blue;
      border-radius: $border-radius;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
}