@import '~/variables';
@import '~/mixin';

.mobile-trading {

  .row {
    @include d-flex(center, center);
    @include p((xs:6, lg: 8, xl:0));
    @include mx((xs:0));
    @include height((xs: 816px, md: 530px, lg: 488px));
    @include flexDirection((xs: column-reverse, lg: row));
    background: linear-gradient(0.35deg, #262A4B 0.29%, #44496D 99.67%);
    box-shadow: box-shadow(15, 0.1);
    border-radius: $border-box-radius;
  }

  &__img {
    @include col((xs:auto, md: 0, lg:5));
    @include mt((xs: 11, md:4));
    @include px((xs: 0, lg:5), i);

    img {
      @include height((xs: 285px, sm: 320px, md: 290px, lg: 360px, xl: 400px));
      @include ml((md: 4, lg: 0));
    }
  }

  &__content {
    @include col((xs:auto, lg:6, xl:5));
    @include pr((lg:6));
    @include ml((xs:0, lg:11, xl:13));
    color: #fff;

    .content {
      &__title {
        @include mb((xs: 7, md: 13, lg: 7));
        @include fontSize((xs:32px, md: 36px));
        @include lineHeight((xs: 40px, md: 46px));
        @include textAlign((xs: start, md: center, lg: start));
        font-family: $font-family1;

        b {
          @include display((xs: block, sm: inline));
          color: $uinvex-blue
        }
      }

      &__description {
        @include col((xs:auto, md: 6, lg: auto));
        @include fontSize((xs:16px));
        @include lineHeight((xs: 26px));
        @include ml((xs: auto));
        @include mb((xs: 10, md: 14, lg: 10));
      }

      &__store-links {
        @include flexDirection((xs: column, md: row));
        @include justifyContent((xs: center, lg: start));
        display: flex;

        button {
          @include flex((xs: 0 0 100%, md: 0 0 162px));
          background: transparent;
          border-color: #fff;
          height: $btn-size-lg;

          &.ios-store {
            @include mr((md:6));
            @include px((xs:6));
            @include mb((xs:7, md:0));
          }

          &.google-store {
            @include mr((md:6));
            @include px((xs:6));
          }

          svg {
            fill: #fff;
          }
        }
      }
    }
  }
}