@import '~/variables';

.about-wrapper {
  &__in-touch {
    display: flex;
    align-items: center;
    background: #1a1b1c;
    color: #fff;

    .in-touch {
      &__title {
        font-size: 36px;
        line-height: 46px;
      }

      &__description {
        font-size: 18px;
        line-height: 30px;
      }

      &__cards {
        .common-cards {
          &__container {
            .card {
              border-left: 2px solid rgba(255, 255, 255, 0.2);
              &:last-child {
                border-right: 2px solid rgba(255, 255, 255, 0.2);
              }
            }
          }

          &__item {
            background: transparent;
            height: 150px;
            justify-content: center;

            &-header {
              font-weight: 300;
              font-size: 65px;
              line-height: 50px;
              text-transform: capitalize;
              color: #fff;
              margin-bottom: 20px;
              justify-content: center;
            }

            &-content {
              font-size: 16px;
              line-height: 26px;
              color: #ffffff;
              text-align: center;
            }
          }
        }
      }

      @media (max-width: $viewport-md-w) {
        &__cards {
          .common-cards {
            &__container {
              .card {
                border-right: 2px solid rgba(255, 255, 255, 0.2);
                &:first-child {
                  border-left: 2px solid rgba(255, 255, 255, 0.2);
                }
              }
            }
          }
        }
      }

      @media (max-width: $viewport-lg-w) {
        &__cards {
          .common-cards {
            &__item {
              height: 150px;
              padding: 16px 0px !important;
            }
            &__container {
              .card {
                border-left: none;
                border-right: 2px solid rgba(255, 255, 255, 0.2);
                &:last-child {
                  border-right: none;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: $viewport-sm-w) {
      padding: 50px 0 !important;

      .in-touch {
        &__title {
          font-size: 24px;
          line-height: 34px;
        }

        &__description {
          font-size: 14px;
          line-height: 24px;
        }

        &__cards {
          .common-cards {
            &__item {
              padding: 16px 30px !important;
            }
          }
        }
      }
    }
  }
}
