@import '~/variables';

.product-wrapper {
  .page-top {
    height: 500px;
    display: flex;
    align-items: center;
    background: #1a1b1c;
    color: #fff;

    &__title {
      font-size: 40px;
      line-height: 50px;
    }

    button {
      width: 100%;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      border: 1.5px solid #fff;
      background: transparent;

      &.active {
        background: $dark-blue;
        border-color: transparent;
      }
    }

    @media (max-width: $viewport-lg-w) {
      height: 500px;
    }

    @media (max-width: $viewport-md-w) {
      button {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .table-section:nth-child(odd) {
    background: $grey-bg-light;
  }
}
