@import '~/variables';
@import '~/mixin';

.platform-wrapper {
  .page-top {
    @include mt((xs: $menu-height-main-sm, md: $menu-height-main-md, lg: $menu-height-main-lg));
    @include height((xs: 640px, md: 627px, lg: 608px));
    @include d-flex(center);
    @include alignItems((xs: start, md:center, lg: start, xl: center));
    @include mb((xs: 12, md: 0));
    background: #EEEEF1;
    color: $dark-text;

    .section-bg {
      .secondary-bg {
        @include height((xs: 700px, md: 100%));
      }
    }

    &__title {
      @include fontSize((xs: 32px, md: 44px, lg: 48px));
      @include lineHeight((xs: 40px, md: 64px, lg: 64px));
      @include mb((xs: 10, md: 12, lg: 16));
      @include mt((xs: 0, lg: sp(10, n)));
      font-family: $font-family1;
    }

    .download-buttons {
      @include flexDirection((xs:row, md: column, lg: row));
      @include flexWrap((xs: wrap, md:unset, lg: wrap, xl:unset));
      display: flex;

      button {
        @include mb((xs: 7, md: 10, xl: 0));
        @include mr((xs: 0, md: 6, lg: 0, xl: 6));
        height: $btn-size-lg;
        background: transparent;
        color: $dark-text;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;

        &:first-child {
          @include flex((xs: 0 0 100%, md: 0 0 50px, lg: 0 0 100%, xl: 0 0 190px));
          background: $blue;

          svg {
            fill: #fff;
          }
        }

        &:last-child {
          @include ml((xs: 4%, md: 0, lg: 4%, xl: 0));
        }

        &.store-link {
          @include flex((xs: 0 0 48%, md: 0 0 50px, lg: 0 0 48%, xl: 0 0 162px));
          border-color: $dark-text;

          svg {
            fill: $dark-text;
          }

        }

        a {
          width: auto;
        }
      }
    }
  }
}