@import '~/variables';

.bank-wire-deposit {
  .bank-wrapper {
    max-width: 33%;
    &__title {
      font-size: 10px;
      color: $dark-grey;
    }
    &__text {
      font-size: 12px;
      color: $dark-text;
    }
  }
}
