@import '~/variables';

.bank-wire-deposit {
  .radio-label {
    text-align: left !important;
    overflow: hidden;
    .mark {
      top: 20px;
    }
    .bank-header {
      text-align: center;
      margin-left: -56px;
      margin-right: -16px;
      &__title {
        color: $blue;
        font-size: 18px;
      }
      &__currency {
        font-size: 20px;
        font-weight: 500;
        background: $grey;
      }
    }
    .bank-wrapper {
      opacity: 0.6;
      transition: opacity 0.25s;
      &__title {
        font-size: 10px;
        color: $dark-grey;
      }
      &__text {
        font-size: 12px;
        color: $dark-text;
      }
    }
    &.selected .bank-wrapper {
      opacity: 1;
    }
  }
  .bank-wire-footer {
    .bank-name {
      color: $blue;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
