@import '~/variables';
@import '~/mixin';

@function bgImgColor($url, $color) {
  @return (url($url) 50% 50% no-repeat, $color);
}

.platform-wrapper {
  .prestigious-platform-technology {
    $bg_color: linear-gradient(0.35deg, #262A4B 0.29%, #44496D 99.67%);
    @include background((xs: bgImgColor('assets/platform_devices_bg1_mobile.png', $bg_color),
        md: bgImgColor('assets/platform_devices_bg1_tablet.png', $bg_color),
        lg: bgImgColor('assets/platform_devices_bg1_desktop.png', $bg_color),
      ));
    background-size: auto 100% !important;
    z-index: 1;

    .row {
      @include flexFlow((xs: column, lg: row-reverse));
      padding: 0 !important;
      height: auto;
      background: none;
      box-shadow: none;
      border-radius: 0;
    }

    &__context {
      @include col((xs: auto, lg: 7, xl: 6));
      padding: 0 sp(5, i);

      .context {
        &__title {
          color: #fff;

          b {
            font-weight: 600;
          }

          span {
            color: $uinvex-blue;
          }
        }

        &__description {
          color: #fff;

          span {
            font-weight: 700;
            color: $uinvex-blue;
          }
        }
      }

      button {
        @include width((xs: 100%, md: 255px, lg: 190px));
      }
    }

    &__img {
      @include height((xs:auto, lg: 500px));
      @include col((xs: auto));
      display: block;

      .common-img {
        display: flex;

        img {
          @include width((xs: 310px, sm: 375px, md: 614px, lg:761px));
          @include mr((xs: auto, md: sp(19, n), lg: 0));
          @include mt((xs: 9, md: sp(11, n), lg: sp(7, n)));
          @include mb((xs: sp(20, n), md: -230px, lg: 0));
          margin-left: auto;
        }
      }
    }

    button {
      background: $uinvex-blue;
    }


    @media (max-width: $viewport-lg-w) {
      .context {
        &__description {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  .platform-perfect-wrapper {
    .container {
      @include mt((xs: sp(16), md: sp(18), lg: 0));
    }

    .row {
      @include textAlign((xs: center));
    }

    .header__title {
      b {
        @include display((xs: block, sm: inline));
      }
    }

    .content__item {
      @include display((xs: block, md: flex));
      @include py((xs: 7, sm:7, md:0));
      border-right-color: $border-grey !important;
      border-bottom-color: $border-grey !important;
      max-width: 60%;

      .common-svg {
        @include display((xs: block, md: inline-flex));
        @include mb((xs: 3, md: 0));
      }
    }
  }

  .mobile-trading {
    @include background((xs: bgImgColor('assets/mobile_trading_bg_mobile.png', $grey_bg),
        md: bgImgColor('assets/mobile_trading_bg_tablet.png', $grey_bg),
        lg: bgImgColor('assets/mobile_trading_bg_desktop.png', $grey_bg),
      ));
    @include height((xs: 900px, sm:820px, md:518px, lg:564px));
    background-size: auto 100% !important;
    z-index: 1;

    .container {
      @include mt((xs: sp(19), md:0));
    }

    .row {
      @include flexFlow((xs: column, lg: row));
      @include mx((xs: 5), n);
      @include p((xs: 0));
      height: auto;
      background: none;
      box-shadow: none;
      border-radius: 0;
    }

    &__content {
      @include d-flex(start, start, column);
      @include col((xs: auto, md: 6, lg: 5));
      @include ml((xs: 0, md: colSizePrc(6)));
      margin-right: auto;

      .content {
        &__title {
          @include maxWidth((lg:320px));
          @include mb((xs: 7, md: 9));
          color: $dark-text;
          text-align: left;

          span {
            color: $blue;
          }
        }

        &__description {
          @include col((xs: auto));
          @include mb((xs: 0, md: 2));
          @include ml((xs: 0));
          color: $dark-text;
        }

        &__store-links {
          flex-direction: row;

          .common-button {
            @include width((xs: 160px, lg: 180px));
            @include mr((xs: 6));
            flex: unset;
            border-color: $dark-text;

            svg {
              fill: $dark-text;
            }
          }
        }
      }
    }

    &__img {
      display: none;
    }

    @media (max-width: $viewport-lg-w) {
      .context {
        &__description {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}