@import '~/variables';
@import '~/mixin';

.about-wrapper {
  &__in-touch {
    @include d-flex(center);
    background: $grey-bg;
    color: $dark-text;
    padding: 140px 0;

    .section-bg {
      display: none;
    }

    .in-touch {
      &__title {
        @include fontSize((xs: 32px, sm: 36px, lg: 44px));
        @include lineHeight((xs: 40px, sm: 46px, lg: 52px));
        @include mb((xs: 7, md: 9));
        font-family: $font-family1;
      }

      &__header {
        @include col((xs: 12, lg: 9));
        @include p((xs: 0 sp(5), sm: 0 sp(10), lg: 0 sp(6)));
        @include textAlign((xs: left, sm: center));
        margin: auto;
      }

      &__description {
        @include lineHeight((xs: 22px, sm: 26px));
        @include mb((xs: 9, md: 11, lg: 13));
        font-size: 16px;
      }

      &__cards {
        &-container {
          @include col((xs: 12));
          @include p((xs: 0));
        }

        .common-cards {
          &__container {
            @include flexFlow((xs: row wrap, sm: wrap));
            @include justifyContent((xs: center, sm: unset));

            .card {
              @include col((xs: 12, sm: 4));
            }
          }

          &__item {
            @include d-flex(center, flex-start, column);
            @include justifyContent((xs: center, md: flex-start));
            @include alignItems((xs: flex-start, sm: center));
            @include height((xs: initial, sm: 170px, md: 200px));
            @include p((xs: sp(8) sp(11), sm: sp(11) sp(3)));
            background: linear-gradient(0.35deg, #262a4b 0.29%, #44486c 99.67%);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 6px;

            &-header {
              @include fontSize((xs: 48px, sm: 36px, lg: 44px));
              @include lineHeight((xs: 58px, sm: 46px, lg: 52px));
              @include mb((xs: sp(2), sm: sp(7)));
              font-weight: 700;
              text-transform: capitalize;
              color: #ffffff;
              font-family: $font-family1;

              span {
                color: $uinvex-blue;
                font-weight: 400;
              }
            }

            &-content {
              @include lineHeight((xs: 22px, sm: 26px));
              @include textAlign((xs: left, sm: center));
              font-size: 16px;
              line-height: 26px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}