@import '~/variables';

.field.datepicker {
  border-color: $border-grey;

  input {
    &:disabled {
      background-color: $light-grey;
    }
  }

  &.disabled {
    background: $light-grey;

    svg {
      fill: $dark-grey;
    }
  }
}