@import '~/variables';

.notFoundPage {
  height: 700px;
  display: flex;
  align-self: center;

  &__header {
    text-align: center;
    justify-content: center;
  }

  &__text {
    &-title {
      font-weight: 300;
      font-size: 170px;
      line-height: 170px;
    }

    &-subTitle {
      font-size: 40px;
      line-height: 50px;
    }

    &-description {
      font-size: 18px;
      line-height: 30px;
    }
  }

  button {
    background: $dark-blue;
    border-radius: $border-radius;
    width: 225px;
    height: $btn-size-lg;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
  }

  @media (max-width: $viewport-lg-w) {
    height: 500px;
    padding: 70px 0;
    align-items: flex-end;

    &__title {
      font-size: 36px;
      line-height: 46px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
    }

    button {
      height: 50px;
    }
  }

  @media (max-width: $viewport-md-w) {
    height: 500px;
  }

  @media (max-width: $viewport-sm-w) {
    height: 550px;

    button {
      width: 100%;
    }
  }
}
