@import '~/variables';
@import '~/mixin';

.not-found {
  @include d-flex(center);

  &__header {
    text-align: center;
    justify-content: center;
  }

  &__title {
    font-weight: 300;
    font-size: 170px;
    line-height: 170px;
  }

  &__subTitle {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
  }

  &__description {
    font-size: 18px;
    line-height: 30px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .common-button {
      height: $btn-size-lg;
      width: 225px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
    }
  }

  @media (max-width: $viewport-lg-w) {
    align-items: flex-end;

    &__title {
      font-weight: 300;
      font-size: 110px;
      line-height: 110px;
    }

    &__subTitle {
      font-size: 36px;
      line-height: 46px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
    }

    .common-button {
      height: $btn-size-md;
    }
  }

  @media (max-width: $viewport-md-w) {
    .common-button {
      width: 100%;
    }
  }
}
