@import '~/variables';

.field.select-wrapper {
  position: relative;
  border-radius: 2px;
  border: 1px solid $dark-grey;
  transition: border-color 0.2s, box-shadow 0.2s;
  min-height: 50px;
  width: 100%;

  &.focused {
    box-shadow: box-shadow(5, 0.05);
    border-color: $blue;
  }

  &.focused .label,
  &.filled .label {
    transform: translate3d(10px, 4px, 0) scale(0.75);
  }

  .label {
    color: $dark-grey;
    line-height: 24px;
    font-size: 14px;
    position: absolute;
    left: 0;
    transform: translate3d(10px, 50%, 0);
    transform-origin: left top;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 0;
    pointer-events: none;
    z-index: 1;
  }

  div[class$='-singleValue'] {
    top: 4px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  &.with-label {
    div[class$='-Input'] {
      padding-top: 9px;
      margin-bottom: -4px;
      font-size: 14px;
    }

    div[class$='-singleValue'] {
      top: 10px;
      min-height: 24px;
      display: flex;
      align-items: center;
      justify-content: end;
      line-height: 23px;
      transform: translateY(0) !important;
    }
  }

  div[class$='-container'] {
    height: 100%;

    div[class$='-control'] {
      border: none !important;
      box-shadow: none;
      min-height: 48px;

      > div {
        overflow: visible;
      }

      div[class$='-ValueContainer'] {
        overflow: visible;
        padding: 4px 8px;
        min-height: 48px;

        div[class$='-placeholder'] {
          font-size: 14px;
          display: flex;
          align-items: center;
          color: $dark-grey;
        }

        div[class$='-singleValue'] {
          font-size: 14px;
          display: flex;
          align-items: center;

          .flag {
            margin-right: 7px;
          }
        }
      }

      div[class$='-indicatorContainer'],
      div[class$='-indicatorContainer']:hover {
        color: $dark-blue;
      }
    }

    div[class$='-menu'] {
      width: calc(100% + 2px);
      left: -1px;
      top: calc(100% + 3px);
      margin: auto;
      z-index: 5;
      box-shadow: box-shadow(25, 0.12);
      overflow: hidden;
      box-sizing: content-box;
      border-radius: 2px;

      .menu-wrapper {
        overflow: hidden;
        height: 0;
        opacity: 0.4;
        transition: height 0.3s, opacity 0.3s, border-color 0.05s;
        border: 1px solid transparent;
        border-radius: 2px;
        padding: 1px 0;

        &.open {
          border-color: $blue;
        }

        .no-options {
          @include d-flex(center, center);
          height: 100%;
          font-size: 16px;
          line-height: 28px;
        }
      }

      & > div {
        overflow-x: hidden !important;
        white-space: nowrap;
        .select-row > .div {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      div[class$='-option'] {
        display: flex;
        align-items: center;
        height: 36px;
        font-size: 14px;

        &:not(.no-options):not(.active):hover {
          background-color: rgba($blue, 0.3);
        }

        .flag,
        .phone {
          margin-right: 8px;
        }

        .name {
          max-width: 200px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  &.multi-select {
    height: auto;
    min-height: 48px;
  }

  &.phoneCode-select {
    div[class$='-menu'] {
      min-width: 300px;
    }

    div[class$='-singleValue'] {
      line-height: 29px;
      @include d-flex(center);

      .name {
        display: none;
      }
    }
  }

  &.country-select {
    div[class$='-singleValue'] {
      top: 13px;
    }
  }

  &.currency-select {
    .selected {
      .currency-symbol {
        color: #fff;
      }
    }

    .currency-symbol {
      color: #337fff;
    }
  }

  &.trading-account-select {
    div[class$='-singleValue'] {
      top: 2px;
    }

    div[class$='-control'] div[class$='-singleValue'],
    div[class$='-container'] div[class$='-menu'] div[class$='-option'] {
      .trading-account-item {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 24px;

        .trading-item {
          &__platform {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background: $dark-text;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            overflow: hidden;
            font-size: 10px;
            text-transform: uppercase;
          }

          &__number {
          }

          &__spacer {
            height: 1px;
            width: 10px;
            background: $dark-grey;
          }

          &__balance {
            display: flex;
            align-items: center;
            font-size: 14px;
          }
        }
      }
      &.selected .trading-item__balance svg path {
        fill: #fff;
      }
    }
  }

  &.disabled {
    div[class$='-container'] {
      div[class$='-control'] {
        background: $grey;

        div[class$='-placeholder'],
        .label {
          color: rgba(#000, 0.3);
        }

        div[class$='-IndicatorsContainer'] {
          svg {
            fill: $dark-grey;
          }
        }
      }
    }
  }

  .error {
    font-size: 10px;
    color: $red;
    position: absolute;
    top: calc(100% + 4px);
  }

  &.field-error {
    border-color: $red;
    position: relative;
  }
}
