@import '~/variables';

.open-account__modal {
	&.success {
		.modal-content {
			&__title {
				color: $green;

				small {
					color: $text;
				}
			}
		}
	}

	&.failure {
		.modal-content {
			&__title {
				color: $red;

				small {
					color: $text;
				}
			}
		}
	}
}
