.flag {
  display: inline-block;
  position: relative;
  width: 21px;
  height: 15px;
  background: resolve('flags.png') no-repeat;
}

.flag.flag-AL {
  background-position: -0 -0;
}
.flag.flag-AM {
  background-position: -21px -0;
}
.flag.flag-AO {
  background-position: -0 -15px;
}
.flag.flag-AR {
  background-position: -21px -15px;
}
.flag.flag-AS {
  background-position: -42px -0;
}
.flag.flag-AT {
  background-position: -42px -15px;
}
.flag.flag-AU {
  background-position: -0 -30px;
}
.flag.flag-AW {
  background-position: -21px -30px;
}
.flag.flag-AX {
  background-position: -42px -30px;
}
.flag.flag-AZ {
  background-position: -0 -45px;
}
.flag.flag-BA {
  background-position: -21px -45px;
}
.flag.flag-BB {
  background-position: -42px -45px;
}
.flag.flag-BD {
  background-position: -63px -0;
}
.flag.flag-BE {
  background-position: -63px -15px;
}
.flag.flag-BF {
  background-position: -63px -30px;
}
.flag.flag-BG {
  background-position: -63px -45px;
}
.flag.flag-BH {
  background-position: -0 -60px;
}
.flag.flag-BI {
  background-position: -21px -60px;
}
.flag.flag-BJ {
  background-position: -42px -60px;
}
.flag.flag-BL {
  background-position: -63px -60px;
}
.flag.flag-BM {
  background-position: -84px -0;
}
.flag.flag-BN {
  background-position: -84px -15px;
}
.flag.flag-BO {
  background-position: -84px -30px;
}
.flag.flag-BR {
  background-position: -84px -45px;
}
.flag.flag-BS {
  background-position: -84px -60px;
}
.flag.flag-BT {
  background-position: -0 -75px;
}
.flag.flag-BV {
  background-position: -21px -75px;
}
.flag.flag-BW {
  background-position: -42px -75px;
}
.flag.flag-BY {
  background-position: -63px -75px;
}
.flag.flag-BZ {
  background-position: -84px -75px;
}
.flag.flag-CA {
  background-position: -0 -90px;
}
.flag.flag-CC {
  background-position: -21px -90px;
}
.flag.flag-CD {
  background-position: -42px -90px;
}
.flag.flag-CF {
  background-position: -63px -90px;
}
.flag.flag-CG {
  background-position: -84px -90px;
}
.flag.flag-CH {
  background-position: -105px -0;
}
.flag.flag-CI {
  background-position: -105px -15px;
}
.flag.flag-CK {
  background-position: -105px -30px;
}
.flag.flag-CL {
  background-position: -105px -45px;
}
.flag.flag-CM {
  background-position: -105px -60px;
}
.flag.flag-CN {
  background-position: -105px -75px;
}
.flag.flag-CO {
  background-position: -105px -90px;
}
.flag.flag-CR {
  background-position: -0 -105px;
}
.flag.flag-CU {
  background-position: -21px -105px;
}
.flag.flag-CV {
  background-position: -42px -105px;
}
.flag.flag-CW {
  background-position: -63px -105px;
}
.flag.flag-CX {
  background-position: -84px -105px;
}
.flag.flag-CY {
  background-position: -105px -105px;
}
.flag.flag-CZ {
  background-position: -126px -0;
}
.flag.flag-DE {
  background-position: -126px -15px;
}
.flag.flag-DJ {
  background-position: -126px -30px;
}
.flag.flag-EC {
  background-position: -126px -45px;
}
.flag.flag-EG {
  background-position: -126px -60px;
}
.flag.flag-ES {
  background-position: -126px -75px;
}
.flag.flag-ER {
  background-position: -126px -90px;
}
.flag.flag-ET {
  background-position: -126px -105px;
}
.flag.flag-EU {
  background-position: -0 -120px;
}
.flag.flag-FJ {
  background-position: -21px -120px;
}
.flag.flag-FI {
  background-position: -42px -120px;
}
.flag.flag-FK {
  background-position: -63px -120px;
}
.flag.flag-FM {
  background-position: -84px -120px;
}
.flag.flag-FO {
  background-position: -105px -120px;
}
.flag.flag-FR {
  background-position: -126px -120px;
}
.flag.flag-GA {
  background-position: -147px -0;
}
.flag.flag-GB_SCT {
  background-position: -147px -15px;
}
.flag.flag-GB {
  background-position: -147px -30px;
}
.flag.flag-GB_ZET {
  background-position: -147px -45px;
}
.flag.flag-GD {
  background-position: -147px -60px;
}
.flag.flag-GB_WLS {
  background-position: -147px -75px;
}
.flag.flag-GG {
  background-position: -147px -90px;
}
.flag.flag-GF {
  background-position: -147px -105px;
}
.flag.flag-GB_ENG {
  background-position: -147px -120px;
}
.flag.flag-GE {
  background-position: -0 -135px;
}
.flag.flag-GL {
  background-position: -21px -135px;
}
.flag.flag-GH {
  background-position: -42px -135px;
}
.flag.flag-GN {
  background-position: -63px -135px;
}
.flag.flag-GQ {
  background-position: -84px -135px;
}
.flag.flag-GP {
  background-position: -105px -135px;
}
.flag.flag-GY {
  background-position: -126px -135px;
}
.flag.flag-GR {
  background-position: -147px -135px;
}
.flag.flag-DZ {
  background-position: -0 -150px;
}
.flag.flag-DK {
  background-position: -21px -150px;
}
.flag.flag-HM {
  background-position: -42px -150px;
}
.flag.flag-DM {
  background-position: -63px -150px;
}
.flag.flag-HT {
  background-position: -84px -150px;
}
.flag.flag-GT {
  background-position: -105px -150px;
}
.flag.flag-HU {
  background-position: -126px -150px;
}
.flag.flag-DO {
  background-position: -147px -150px;
}
.flag.flag-EE {
  background-position: -168px -0;
}
.flag.flag-GM {
  background-position: -168px -15px;
}
.flag.flag-GI {
  background-position: -168px -30px;
}
.flag.flag-GB_NIR {
  background-position: -168px -45px;
}
.flag.flag-HN {
  background-position: -168px -60px;
}
.flag.flag-HK {
  background-position: -168px -75px;
}
.flag.flag-ID {
  background-position: -168px -90px;
}
.flag.flag-GU {
  background-position: -168px -105px;
}
.flag.flag-GW {
  background-position: -168px -120px;
}
.flag.flag-GS {
  background-position: -168px -135px;
}
.flag.flag-IE {
  background-position: -168px -150px;
}
.flag.flag-HR {
  background-position: -0 -165px;
}
.flag.flag-IL {
  background-position: -21px -165px;
}
.flag.flag-IM {
  background-position: -42px -165px;
}
.flag.flag-IN {
  background-position: -63px -165px;
}
.flag.flag-IO {
  background-position: -84px -165px;
}
.flag.flag-IQ {
  background-position: -105px -165px;
}
.flag.flag-IR {
  background-position: -126px -165px;
}
.flag.flag-IS {
  background-position: -147px -165px;
}
.flag.flag-IT {
  background-position: -168px -165px;
}
.flag.flag-JE {
  background-position: -189px -0;
}
.flag.flag-JM {
  background-position: -189px -15px;
}
.flag.flag-JO {
  background-position: -189px -30px;
}
.flag.flag-JP {
  background-position: -189px -45px;
}
.flag.flag-KE {
  background-position: -189px -60px;
}
.flag.flag-KG {
  background-position: -189px -75px;
}
.flag.flag-KH {
  background-position: -189px -90px;
}
.flag.flag-KI {
  background-position: -189px -105px;
}
.flag.flag-KM {
  background-position: -189px -120px;
}
.flag.flag-KN {
  background-position: -189px -135px;
}
.flag.flag-KP {
  background-position: -189px -150px;
}
.flag.flag-KR {
  background-position: -189px -165px;
}
.flag.flag-KW {
  background-position: -0 -180px;
}
.flag.flag-KY {
  background-position: -21px -180px;
}
.flag.flag-KZ {
  background-position: -42px -180px;
}
.flag.flag-LA {
  background-position: -63px -180px;
}
.flag.flag-LB {
  background-position: -84px -180px;
}
.flag.flag-LC {
  background-position: -105px -180px;
}
.flag.flag-LGBT {
  background-position: -126px -180px;
}
.flag.flag-LI {
  background-position: -147px -180px;
}
.flag.flag-LK {
  background-position: -168px -180px;
}
.flag.flag-LR {
  background-position: -189px -180px;
}
.flag.flag-LS {
  background-position: -0 -195px;
}
.flag.flag-LT {
  background-position: -21px -195px;
}
.flag.flag-LU {
  background-position: -42px -195px;
}
.flag.flag-LV {
  background-position: -63px -195px;
}
.flag.flag-LY {
  background-position: -84px -195px;
}
.flag.flag-MA {
  background-position: -105px -195px;
}
.flag.flag-MC {
  background-position: -126px -195px;
}
.flag.flag-MD {
  background-position: -147px -195px;
}
.flag.flag-ME {
  background-position: -168px -195px;
}
.flag.flag-MF {
  background-position: -189px -195px;
}
.flag.flag-MG {
  background-position: -210px -0;
}
.flag.flag-MH {
  background-position: -210px -15px;
}
.flag.flag-MK {
  background-position: -210px -30px;
}
.flag.flag-ML {
  background-position: -210px -45px;
}
.flag.flag-MM {
  background-position: -210px -60px;
}
.flag.flag-MN {
  background-position: -210px -75px;
}
.flag.flag-MO {
  background-position: -210px -90px;
}
.flag.flag-MP {
  background-position: -210px -105px;
}
.flag.flag-MQ {
  background-position: -210px -120px;
}
.flag.flag-MR {
  background-position: -210px -135px;
}
.flag.flag-MS {
  background-position: -210px -150px;
}
.flag.flag-MT {
  background-position: -210px -165px;
}
.flag.flag-MU {
  background-position: -210px -180px;
}
.flag.flag-MV {
  background-position: -210px -195px;
}
.flag.flag-MW {
  background-position: -0 -210px;
}
.flag.flag-MX {
  background-position: -21px -210px;
}
.flag.flag-MY {
  background-position: -42px -210px;
}
.flag.flag-MZ {
  background-position: -63px -210px;
}
.flag.flag-NA {
  background-position: -84px -210px;
}
.flag.flag-NC {
  background-position: -105px -210px;
}
.flag.flag-NE {
  background-position: -126px -210px;
}
.flag.flag-NF {
  background-position: -147px -210px;
}
.flag.flag-NG {
  background-position: -168px -210px;
}
.flag.flag-NI {
  background-position: -189px -210px;
}
.flag.flag-NL {
  background-position: -210px -210px;
}
.flag.flag-NO {
  background-position: -231px -0;
}
.flag.flag-NP {
  background-position: -231px -15px;
}
.flag.flag-NR {
  background-position: -231px -30px;
}
.flag.flag-NU {
  background-position: -231px -45px;
}
.flag.flag-NZ {
  background-position: -231px -60px;
}
.flag.flag-OM {
  background-position: -231px -75px;
}
.flag.flag-PA {
  background-position: -231px -90px;
}
.flag.flag-PE {
  background-position: -231px -105px;
}
.flag.flag-PF {
  background-position: -231px -120px;
}
.flag.flag-PG {
  background-position: -231px -135px;
}
.flag.flag-PH {
  background-position: -231px -150px;
}
.flag.flag-PK {
  background-position: -231px -165px;
}
.flag.flag-PL {
  background-position: -231px -180px;
}
.flag.flag-PM {
  background-position: -231px -195px;
}
.flag.flag-PN {
  background-position: -231px -210px;
}
.flag.flag-PR {
  background-position: -0 -225px;
}
.flag.flag-PS {
  background-position: -21px -225px;
}
.flag.flag-PT {
  background-position: -42px -225px;
}
.flag.flag-PW {
  background-position: -63px -225px;
}
.flag.flag-PY {
  background-position: -84px -225px;
}
.flag.flag-QA {
  background-position: -105px -225px;
}
.flag.flag-RE {
  background-position: -126px -225px;
}
.flag.flag-RO {
  background-position: -147px -225px;
}
.flag.flag-RS {
  background-position: -168px -225px;
}
.flag.flag-RU {
  background-position: -189px -225px;
}
.flag.flag-RW {
  background-position: -210px -225px;
}
.flag.flag-SA {
  background-position: -231px -225px;
}
.flag.flag-SB {
  background-position: -252px -0;
}
.flag.flag-SC {
  background-position: -252px -15px;
}
.flag.flag-SD {
  background-position: -252px -30px;
}
.flag.flag-SE {
  background-position: -252px -45px;
}
.flag.flag-SG {
  background-position: -252px -60px;
}
.flag.flag-SH {
  background-position: -252px -75px;
}
.flag.flag-SI {
  background-position: -252px -90px;
}
.flag.flag-SJ {
  background-position: -252px -105px;
}
.flag.flag-SK {
  background-position: -252px -120px;
}
.flag.flag-SL {
  background-position: -252px -135px;
}
.flag.flag-SM {
  background-position: -252px -150px;
}
.flag.flag-SN {
  background-position: -252px -165px;
}
.flag.flag-SO {
  background-position: -252px -180px;
}
.flag.flag-SR {
  background-position: -252px -195px;
}
.flag.flag-SS {
  background-position: -252px -210px;
}
.flag.flag-ST {
  background-position: -252px -225px;
}
.flag.flag-SV {
  background-position: -0 -240px;
}
.flag.flag-SX {
  background-position: -21px -240px;
}
.flag.flag-SY {
  background-position: -42px -240px;
}
.flag.flag-SZ {
  background-position: -63px -240px;
}
.flag.flag-TC {
  background-position: -84px -240px;
}
.flag.flag-TD {
  background-position: -105px -240px;
}
.flag.flag-TF {
  background-position: -126px -240px;
}
.flag.flag-TG {
  background-position: -147px -240px;
}
.flag.flag-TH {
  background-position: -168px -240px;
}
.flag.flag-TJ {
  background-position: -189px -240px;
}
.flag.flag-TK {
  background-position: -210px -240px;
}
.flag.flag-TL {
  background-position: -231px -240px;
}
.flag.flag-TM {
  background-position: -252px -240px;
}
.flag.flag-TN {
  background-position: -0 -255px;
}
.flag.flag-TO {
  background-position: -21px -255px;
}
.flag.flag-TR {
  background-position: -42px -255px;
}
.flag.flag-TT {
  background-position: -63px -255px;
}
.flag.flag-TV {
  background-position: -84px -255px;
}
.flag.flag-TW {
  background-position: -105px -255px;
}
.flag.flag-TZ {
  background-position: -126px -255px;
}
.flag.flag-UA {
  background-position: -147px -255px;
}
.flag.flag-UG {
  background-position: -168px -255px;
}
.flag.flag-UM {
  background-position: -189px -255px;
}
.flag.flag-US {
  background-position: -210px -255px;
}
.flag.flag-US_CA {
  background-position: -231px -255px;
}
.flag.flag-UY {
  background-position: -252px -255px;
}
.flag.flag-UZ {
  background-position: -273px -0;
}
.flag.flag-VA {
  background-position: -273px -15px;
}
.flag.flag-VC {
  background-position: -273px -30px;
}
.flag.flag-VE {
  background-position: -273px -45px;
}
.flag.flag-VG {
  background-position: -273px -60px;
}
.flag.flag-VI {
  background-position: -273px -75px;
}
.flag.flag-VN {
  background-position: -273px -90px;
}
.flag.flag-VU {
  background-position: -273px -105px;
}
.flag.flag-WF {
  background-position: -273px -120px;
}
.flag.flag-WS {
  background-position: -273px -135px;
}
.flag.flag-XK {
  background-position: -273px -150px;
}
.flag.flag-YE {
  background-position: -273px -165px;
}
.flag.flag-YT {
  background-position: -273px -180px;
}
.flag.flag-ZA {
  background-position: -273px -195px;
}
.flag.flag-ZM {
  background-position: -273px -210px;
}
.flag.flag-ZW {
  background-position: -273px -225px;
}
.flag.flag-AD {
  background-position: -273px -240px;
}
.flag.flag-AE {
  background-position: -273px -255px;
}
.flag.flag-AF {
  background-position: -0 -270px;
}
.flag.flag-AG {
  background-position: -21px -270px;
}
.flag.flag-AI {
  background-position: -42px -270px;
}
