@import '~/variables';

.account-types-for-trading-styles-section {
  .container {
    .header {
      flex-wrap: wrap;
    }
  }

  .common-cards {
    svg {
      stroke: $dark-blue;
      fill: $dark-blue;
    }

    &__item {
      &-header {
        span {
          color: $dark-blue;

          small {
            color: $dark-blue;
          }
        }
      }
    }

    &__container {
      justify-content: center;

      @media (max-width: $viewport-md-w) {
        justify-content: initial;
      }
    }
  }

  @media (max-width: $viewport-xs-w) {
    .container {
      .header {
        span {
          margin-top: 20px;
        }
      }
    }
    
    .common-cards {
      &__item {
        &-header {
          span {
            margin-left: 0;
          }

          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
