@import '~/variables';
@import '~/mixin';

.cookies-policy-wrapper {
  .common-button {
    height: $btn-size-lg;

    svg {
      height: 12px;
      margin-left: sp(2, n);
    }
  }

  .back-button-wrapper {
    @include mt((xs:11, md:13, lg:16));
  }

  .common-table-wrapper .common-table {
    .th {
      justify-content: flex-start !important;
      color: $text;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      border-right: 1px solid #e1e4eb;
      border-top: 1px solid #e1e4eb;
      border-bottom: 1px solid #e1e4eb;

      &.col1 {
        border-left: 1px solid #e1e4eb;
      }
    }

    .td {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      border-right: 1px solid #e1e4eb;
      padding: 0;
    }

    .td.col1 {
      align-items: center;
    }
  }

  ul {
    padding-left: 15px;
    list-style-type: none;

    li:before {
      content: '\2022';
      color: $blue;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  a {
    text-decoration: underline;
  }
}