@import '~/variables';

.notification-wrapper {
  @include d-flex(center, center);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
  position: absolute;
  z-index: 99;

  &.fixed {
    position: fixed;
    top: 0;
  }

  &.open {
    height: 60px;

    .notification-close {
      display: block;
    }
  }

  &.info {
    background: linear-gradient(0, rgba($blue, 0.5), rgba($blue, 0.5)), linear-gradient(0, $blue, $blue);
    color: $blue;

    .notification-progress {
      background: rgba($blue, 0.5);
    }

    .notification-close {
      fill: $blue;
    }
  }

  &.failure {
    background: linear-gradient(0, rgba($red, 0.5), rgba($red, 0.5)), linear-gradient(0, $red, $red);
    color: $red;

    .notification-progress {
      background: rgba($red, 0.5);
    }

    .notification-close {
      fill: $red;
    }
  }

  &.success {
    background: linear-gradient(0, rgba($green, 0.5), rgba($green, 0.5)), linear-gradient(0, $green, $green);
    color: $green;

    .notification-progress {
      background: rgba($green, 0.5);
    }

    .notification-close {
      fill: $green;
    }
  }

  .notification-context {
    @include d-flex(center, center);
  }

  .notification-progress {
    position: absolute;
    height: 2px;
    bottom: 1px;
    left: 0;
  }

  .notification-close {
    position: absolute;
    right: 40px;
    display: none;
    cursor: pointer;
  }
}
