@import '~/variables';
@import '~/mixin';

.common-cards {
    &__item {
        &-header {
            font-family: $font-family1;
        }

        background: linear-gradient(180deg, #ffffff 0%, #f9f9fd 100%);
        box-shadow: box-shadow(15, 0.1);
        overflow: hidden;
    }

    .cards-nav {
        .cards-nav__item {
          flex: 0 0 10px;
          height: 10px;
          background: $dark-grey;
          border-radius: 50%;
    
          &.active {
            background: $blue;
          }
        }
      }

    .common-cards__container {
        &.scrollable {
            .common-cards__wrapper:not(:last-child) {
                @include mb((xs: 9, lg: 0), i);
            }
        }
    }
}