@import '~/variables';
@import '~/mixin';

.common-cards {
    .cards-nav {
        display: none;
    }

    &__item {
        &-observer {
            display: none;
        }

        background: linear-gradient(180deg, #FFFFFF 0%, #F9F9FD 100%);
        box-shadow: box-shadow(15, 0.1);
        overflow: hidden;
    }
}