@import '~/variables';
@import '~/mixin';

.partnership-wrapper {
  .partnership {
    &__page-top {
      background: rgb(92, 115, 131);
      color: #fff;

      .common-button {
        width: 255px;
        text-transform: uppercase;
      }

      .page-top {
        &__title {
          font-size: 40px;
          line-height: 50px;
          text-transform: uppercase;
        }

        &__description {
          font-size: 18px;
          line-height: 30px;
        }

        @media (max-width: $viewport-md-w) {
          &__title {
            font-size: 30px;
            line-height: 40px;
          }
        }
      }
    }

    &__potential {
      background: #1a1b1c;
      color: #ffffff;
      text-align: center;

      .row {
        justify-content: center;
      }

      .potential {
        &__title {
          font-size: 36px;
          line-height: 46px;
          text-transform: uppercase;
        }

        &__description {
          font-weight: 300;
          font-size: 18px;
          line-height: 30px;
        }

        @media (max-width: $viewport-md-w) {
          &__title {
            font-size: 24px;
            line-height: 34px;
          }

          &__description {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }

    &__forms {
      background-color: $grey-bg-light;

      &-title {
        font-size: 36px;
        line-height: 50px;
        color: $dark-text;
        text-align: center;
        margin-bottom: 34px;
        text-transform: uppercase;
      }

      &-tabs {
        .tab__link__label-title {
          text-transform: uppercase;
        }
      }
    }

    &__form {
      .field.input,
      .field textarea,
      .field.select-wrapper {
        border-color: transparent;
        box-shadow: box-shadow(10, 0.05);
        border-radius: 0 !important;

        &.focused {
          border-color: $blue;
          box-shadow: box-shadow(10, 0.1);
        }
      }

      .field.textarea {
        border-color: transparent;
        box-shadow: none;

        &.focused {
          textarea {
            border: 1px solid #cacfd5;
            border-color: $blue;
            box-shadow: box-shadow(10, 0.1);
          }
        }
      }
    }
  }

  .common-tabs__navigation:after {
    width: 400px;
  }
}
