@import '~/variables';

.registration-second-step {
  .dob {
    .field {
      width: 33%;
    }
  }

  .select-wrapper.fadein-row {
    z-index: 1000;
  }

  @media (max-width: $viewport-sm-w) {
    .dob {
      .field {
        &.input {
          width: 30%;
        }

        &.select-wrapper {
          width: 40%;
        }
      }
    }
  }
}
