@import '~/variables';
@import '~/mixin';

.account-types-for-trading-styles-section {
  &__title {
    @include fontSize((xs:32px, md:36px, lg:44px));
    @include lineHeight((xs:40px, md:46px, lg:46px));
    font-family: $font-family1;
    font-style: normal;
    color: $dark-text;
    text-align: center;

    b {
      @include display((xs: block, md: inline));
      font-weight: 600;
    }
  }

  &__description {
    @include fontSize((xs:16px, md:16px, lg:22px));
    @include lineHeight((xs:22px, md:26px, lg:34px));
    color: $text;
    text-align: center;
  }

  &__content {
    .common-cards {
      &__wrapper {
        @include col((xs:8, md:4));
        @include mb((xs:7, md:0));
      }

      &__item {
        @include height((xs: 240px, lg: 200px));
        @include p((xs: 9));
        justify-content: flex-start;
        position: relative;

        &-header {
          @include mb((xs: 8, lg: 4));
          font-family: $font-family1;
          font-weight: 600;
          font-size: 24px;
          line-height: 34px;
          color: $dark-text;

          .icon {
            @include d-flex(center, center);
            width: 50px;
            height: 50px;
            background: #fff;
            border: 1px solid $border-grey;
            border-radius: 50%;
            box-shadow: box-shadow(10, .05);
          }
        }

        &-content {
          @include fontSize((xs:16px, md:16px, lg:18px));
          @include lineHeight((xs:22px, md:26px, lg:30px));
        }

        .pips {
          font-family: $font-family1;
          font-weight: 500;
          font-size: 36px;
          line-height: 44px;
          color: $blue;

          small {
            @include ml((xs: 2));
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
          }
        }

        .tag {
          background: $blue;
          width: 160px;
          position: absolute;
          right: 0;
          bottom: 0;
          border-radius: 6px 0 0 0;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}