@import '~/variables';
@import '~/mixin';

.transaction-statement-search-item {
  @include d-flex(center, center);

  background: #fff;
  box-shadow: box-shadow(10, 0.1);
  border-radius: $border-radius;

  &:last-child {
    margin-bottom: 0 !important;
  }

  .search-item {
    &__cell {
      @include d-flex(start, center, column);
      height: 80px;
      flex: 1 1 100%;
      border-right: 1px solid $grey;

      &.trade_account {
        flex: 0 0 160px;
      }

      &.amount {
        flex: 0 0 120px;
      }

      &.date_created {
        flex: 0 0 220px;
      }
    }

    &__title {
      font-size: 12px;
      line-height: 20px;
      color: $dark-grey;
    }

    &__context {
      font-size: 14px;
      line-height: 18px;
      @include d-flex(center);
    }
  }

  @media (max-width: $viewport-md-w) {
    @include d-flex(center, center, column);

    .search-item {
      &__cell {
        width: 100%;
        flex: 1 1 60px !important;
        border-right: 0px solid $grey;
      }
    }
  }
}
