@import '~/variables';

.home-wrapper {
  .page-top {
    height: initial;
    overflow: hidden;

    &__title {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 60px;
      line-height: 70px;
    }

    @media (min-width: $viewport-xl-min-w) {
      .container {
        padding-top: 80px;
        padding-bottom: 60px;
      }
    }

    @media (max-width: $viewport-xl-w) {
      .container {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      &__title {
        font-size: 50px;
        line-height: 60px;
      }
    }

    @media (max-width: $viewport-lg-w) {
      .container {
        padding-top: 40px;
        padding-bottom: 20px;
      }

      &__title {
        font-size: 30px;
        line-height: 40px;
      }

      &__description {
        font-size: 20px;
        line-height: 30px;
      }
    }

    @media (max-width: $viewport-md-w) {
      .container {
        padding-top: 40px;
        padding-bottom: 30px;
      }
    }
  }

  button {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }

  .stocks {
    margin-top: -200px;
    @media (max-width: $viewport-lg-w) {
      margin-top: -80px;
    }

    .stockPrices {
      &-item__info-title,
      &-menu__item {
        text-transform: uppercase;

        svg {
          display: none;
        }
      }
    }
  }

  .mobile-trading-with-mt5__title,
  .prestigious-platform-technology__title {
    text-transform: uppercase;
  }

  .account-types-for-trading-styles-section {
    &__title {
      text-transform: uppercase;
    }
  }
}
