@import '~/variables';
@import '~/mixin';

@function bgImgColor($url, $color) {
  @return (url($url) 50% 0 no-repeat, $color);
}

.prestigious-platform-technology {
  .row {
    $bg_color: linear-gradient(180deg, #ffffff 0%, #f9f9fd 100%);

    @include height((xs:783px, sm: 650px, md: 530px, xl: 560px));
    @include p((xs:5, lg: 11, xl:14), i);
    @include mx((xs: 0));
    @include alignItems((xs: flex-end, md: center));
    @include backgroundSize((xs: contain, md: cover), i);
    @include background((xs: bgImgColor('assets/platform_devices_bg_mobile.png', $bg_color),
        sm: bgImgColor('assets/platform_devices_bg_tablet.png', $bg_color),
        md: bgImgColor('assets/platform_devices_bg_desktop.png', $bg_color),
      ));
    border-radius: $border-box-radius;
    box-shadow: box-shadow(15, 0.1);
  }

  &__context {
    @include col((xs: 12, md:8, lg: 7, xl: 6));

    .context {
      &__title {
        font-family: $font-family1;
        font-size: 36px;
        line-height: 46px;
        color: $dark-text;
      }

      &__description {
        @include fontSize((xs:16px, md: 14px, lg: 16px));
        @include lineHeight((xs: 22px, md: 24px, lg: 26px));
        color: $text;
      }
    }

    button {
      @include width((xs: 100%, lg: 190px));
      @include mb((xs: 7, md: 0));
      height: $btn-size-lg;
      background: $blue;
      font-family: $font-family1;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }
  }

  &__img {
    display: none;
  }
}