@import '~/variables';
@import '~/mixin';

.our-offer-banner-section {
  @include d-flex(center);
  @include height((xs: auto, md: 150px));
  padding: 0 !important;
  background: $grey-bg;
  overflow: hidden;
  font-size: 18px;
  line-height: 30px;
  color: $dark-text;

  .our-offer {
    &__item {
      @include col((xs: 12, md: 4));
      @include flexDirection((xs:row, md:column, lg: row));
      @include justifyContent((xs:unset, md:center));
      @include py((xs: 8));
      display: flex;
      align-items: center;

      &:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }

      svg {
        @include mr((xs: 5));
        @include mb((md: 4, lg: 0));
        fill: $blue;
      }
    }
  }

  @media (max-width: $viewport-md-min-w) {
    .our-offer {
      &__item {
        &:not(:last-child) {
          border-right: 0;

          &:after {
            content: '';
            width: 90%;
            height: 1px;
            background: $dark-grey;
            position: absolute;
            bottom: 0;
            left: 5%;
          }
        }
      }
    }
  }
}