@import '~/variables';
@import '~/mixin';

.stock-prices {
  @include d-flex();
  height: 375px;

  .stock-prices-item {
    &__info {
      @include d-flex(start, start, column);
      @include flex((xs: 0 0 100%, md:0 0 252px, lg:0 0 300px, xl:0 0 350px));
      @include width((xs: 100%, md: 252px, lg: 100%));
      @include height((xs: 240px, md: 295px, lg: 100%));
      @include float((md: left, lg: none));
      @include py((xs: 9, lg: 11));
      @include pl((xs: 9, xl: 11));
      @include mt((xs: 9, md: 11, lg: 0));
      box-shadow: box-shadow(10, 0.1);
      border-radius: $border-box-radius;

      &-title {
        @include d-flex(center);
        @include mb((xs: 4, lg: 8));
        @include fontSize((xs: 32px, md: 28px, lg: 32px, xl: 36px));
        @include lineHeight((xs: 40px, xl: 46px));
        color: $dark-text;
        font-family: $font-family1;
        font-weight: 700;
        color: $blue;

        .common-svg {
          display: none;
        }
      }

      &-description {
        @include minHeight((xs: 40px, md: 52px, lg: auto));
        @include pr((xs:8, lg: 8, xl:15));
        @include mb((xs: 6));
        @include fontSize((xs: 14px, lg: 16px));
        @include lineHeight((xs: 20px, lg: 26px));
        color: $text;
      }

      &-points {
        @include fontSize((xs: 14px, lg: 16px));
        @include lineHeight((xs: 20px, lg: 26px));
        @include mt((xs: auto));
        @include mb((xs: 9, lg: 12));
        color: $dark-text;

        b {
          @include fontSize((xs: 18px, lg: 22px));
          @include lineHeight((xs: 24px, lg: 26px));
          font-weight: 800;
          color: $blue;
        }
      }

      .see-all {
        margin-top: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $blue;

        svg {
          @include mr((xs: 1));
          background: $blue;
          fill: #fff;
          stroke: #fff;
          border-radius: 50%;
          padding: 3px;
          width: 14px;
          height: 14px;
        }
      }
    }

    &__carousel {
      @include d-flex(center, space-evenly);

      .carousel {
        @include d-flex();

        &-left,
        &-right {
          user-select: none;
          z-index: 9;

          svg {
            cursor: pointer;
            background: $light-blue;
            border-radius: 50%;
            padding: 12px;
            width: 40px;
            height: 40px;
            fill: $blue;
            transition: all 0.2s;
          }

          &.disabled {
            svg {
              fill: $dark-grey;
              background: $light-grey;
              cursor: unset;
            }
          }
        }

        &-left {
          @include mr((xs: 10, md: 0, lg: sp(8, n), xl: 0));
        }

        &-right {
          @include ml((xs: 10, md: 0, lg: sp(8, n), xl: 0));
          @include mr((md: sp(8, n), lg: 0));
        }

        &-wrapper {
          @include d-flex(flex-end);
          position: relative;
          overflow-x: hidden;
          margin: 0 -25px;
          height: 350px;
          padding-bottom: 15px;
        }

        &-container {
          @include d-flex(center);
          position: absolute;
          left: 0;
          transition: left 0.25s;
        }

        &-item-wrapper {
          @include flex((xs: 0 0 210px, md: 0 0 190px, lg: 0 0 210px));
          @include width((xs: 210px, md: 190px, lg: 210px));
          padding: 0 15px;
        }

        &-item {
          @include flex((xs: 0 0 180px, md: 0 0 160px, lg: 0 0 180px));
          @include d-flex(start, start, column);
          height: 295px;
          box-shadow: box-shadow(10, 0.15);
          border-radius: $border-box-radius;
          opacity: 0.5;
          transition: opacity 0.25s;
          overflow: hidden;

          &.active {
            opacity: 1;
          }

          &__header {
            @include d-flex(center, center, column);
            @include p((xs: 4));
            align-self: center;
            height: 100%;
            padding-top: 32px !important;

            .assets-icon {
              @include imageUnderShadow();

              display: flex;
              height: 44px;
              width: 44px;
              margin: 0 auto 14px;
            }

            .title {
              @include mb((xs: 1));
              font-weight: 700;
              font-size: 16px;
              line-height: 26px;
              color: $dark-text;
              text-align: center;
            }

            .variation {
              @include d-flex(center, center);
              font-size: 14px;
              line-height: 24px;
              color: $text;

              svg {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                margin-right: 8px;
              }
            }
          }

          &__bid-ask {
            @include d-flex();
            border: 1px solid $border-grey;
            border-width: 1px 0 0;
            height: 42px;
            flex: 0 0 42px;
            width: 100%;
            order: 2;

            >div {
              @include d-flex(center, center, column);
              flex: 0 0 50%;
              height: 100%;
              font-size: 12px;
              line-height: 15px;

              &.bid {
                @include px((xs: 6));
                border-right: 1px solid $border-grey;
              }

              &.ask {
                @include px((xs: 6));
              }

              .label {
                color: $text;
              }

              .amount {
                color: $dark-text;
              }
            }
          }

          &__chart {
            .recharts-wrapper,
            .recharts-surface {
              @include width((xs: 180px, md: 160px, lg: 180px), i);
              @include height((xs: 100px, md: 90px, lg: 100px), i);
            }
          }
        }
      }
    }
  }

  .stock-prices__content {
    width: 100%;
    margin-right: -(sp(10));

    .stock-prices-menu {
      position: relative;
      scroll-behavior: smooth;
      height: 40px;
      width: fit-content;
      margin: 0 auto;

      .stock-prices-wrapper {
        @include px((xs: 7));
        display: flex;
        align-items: center;
        background: $grey-bg;
        border-radius: 25px;
        justify-content: center;
        height: 100%;
      }

      &__item {
        @include mr((xs: 9));
        font-family: $font-family1;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 17px;
        color: $text;
        transition: color 0.25s;
        z-index: 2;
        white-space: nowrap;
        cursor: pointer;

        svg {
          @include mr((xs: 3));
          transition: fill 0.25s;
          fill: $dark-grey;
        }

        &.last {
          @include mr((xs: 0));
        }

        &:hover,
        &.active {
          color: $blue;
        }
      }

      &__line {
        position: absolute;
        bottom: 0;
        height: 100%;
        transition: left 0.25s;

        &:before {
          content: '';
          position: absolute;
          background: $light-blue;
          border: 1px solid $blue;
          width: calc(100% + 40px);
          left: -20px;
          height: 100%;
          border-radius: 25px;
        }
      }
    }
  }

  @media (max-width: $viewport-lg-w) {
    height: auto;
  }

  @media (max-width: $viewport-sm-w) {
    .stock-prices__content {
      .stock-prices-menu {
        flex-wrap: unset;
        overflow-x: scroll;
        width: 100%;

        @include hideScrollbar;
        margin: 0;
        padding: 0;

        .stock-prices-wrapper {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}