@import '~/variables';
@import '~/mixin';

.stock-prices {
  height: 400px;
  display: flex;
  background: #fff;
  box-shadow: box-shadow(10, 0.1);
  border-radius: $border-box-radius;
  overflow: hidden;

  .stock-prices-item {
    &__info {
      @include pt((xs: 9, lg: 11));
      @include pb((xs: 0, lg: 11));
      @include pl((xs: 11, lg: 9, xl: 11));
      flex: 0 0 350px;
      display: flex;
      flex-direction: column;

      &-title {
        @include mb((xs: 6));
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: $dark-text;
        height: 50px;
        display: flex;
        align-items: center;

        svg {
          @include mr((xs: 5));
          @include display((lg: none, xl: inline));
          background: $grey-bg;
          border-radius: $border-radius;
          fill: $dark-blue;
          padding: 14px;
        }
      }

      &-description {
        @include mb((xs: 6));
        @include pr((xs: 15, lg: 8, xl:15));
        font-size: 16px;
        line-height: 26px;
        color: $text;
      }

      &-points {
        font-size: 16px;
        line-height: 30px;
        color: $dark-text;
      }

      .see-all {
        margin-top: auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: $dark-blue;

        svg {
          @include mr((xs: 1));
          width: 14px;
          height: 14px;
          fill: $dark-blue;
          stroke: $dark-blue;
        }
      }
    }

    &__carousel {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .carousel {
        display: flex;

        &-left,
        &-right {
          -webkit-user-select: none;
          /* Chrome/Safari */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* IE10+ */
          -o-user-select: none;
          user-select: none;

          svg {
            cursor: pointer;
            background: #ffffff;
            box-shadow: box-shadow(15, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 10px;
            transition: all 0.2s;
          }

          &.disabled {
            svg {
              opacity: 0.5;
              background: $grey-bg;
              cursor: unset;
            }
          }
        }

        &-wrapper {
          position: relative;
          display: flex;
          overflow-x: hidden;
          align-items: center;
          height: 310px;
        }

        &-container {
          display: flex;
          align-items: center;
          position: absolute;
          left: 0;
          transition: left 0.25s;
        }

        &-item-wrapper {
          flex: 0 0 196px;
          width: 196px;
          padding: 0 8px;
        }

        &-item {
          display: flex;
          flex-direction: column;
          flex: 0 0 180px;
          height: 240px;
          box-shadow: box-shadow(10, 0.15);
          border-radius: $border-box-radius;
          opacity: 0.5;
          transition: opacity 0.25s;
          overflow: hidden;

          &.active {
            opacity: 1;
          }

          &__header {
            @include d-flex(center, center, column);
            @include p((xs: 4));
            align-self: center;
            height: 100%;

            .title {
              @include mb((xs: 1));
              font-size: 16px;
              line-height: 26px;
              color: $dark-text;
              text-align: center;
            }

            .variation {
              font-size: 14px;
              line-height: 24px;
              color: $text;
              display: flex;
              align-items: center;
              justify-content: center;

              svg {
                height: 20px;
                width: 20px;
                padding: 5px;
                border-radius: 50%;
                margin-right: 8px;

                &.down {
                  background: rgba(236, 56, 56, 0.25);
                }

                &.up {
                  background: rgba(64, 217, 162, 0.25);
                }
              }
            }
          }

          &__bid-ask {
            border: 1px solid $grey;
            border-width: 1px 0;
            display: flex;
            height: 46px;

            >div {
              flex: 0 0 50%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: 12px;
              line-height: 18px;

              &.bid {
                @include px((xs: 6));
                border-right: 1px solid $grey;
                text-align: left;
              }

              &.ask {
                @include px((xs: 6));
                text-align: right;
              }

              .label {
                color: $text;
              }

              .amount {
                color: $dark-text;
              }
            }
          }
        }
      }
    }
  }

  .stock-prices__content {
    @include py((lg: 11));
    width: 100%;
    border-left: 1px solid $grey;

    .stock-prices-menu {
      position: relative;
      scroll-behavior: smooth;
      height: 50px;

      .stock-prices-wrapper {
        @include px((xs: 7));
        display: flex;
        align-items: center;
        background: $grey-bg;
        justify-content: center;
        height: 100%;
      }

      &__item {
        @include mr((xs: 9));
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 21px;
        color: $text;
        cursor: pointer;
        transition: color 0.25s;

        svg {
          @include mr((xs: 3));
          transition: fill 0.25s;
          fill: $dark-grey;
        }

        &.last {
          @include mr((xs: 0));
        }

        &.active {
          color: $dark-text;

          // font-weight: 500;
          svg {
            fill: $dark-blue;
          }
        }
      }

      &__line {
        position: absolute;
        bottom: 0;
        height: 2px;
        background: $dark-blue;
        transition: left 0.25s;
      }
    }
  }

  @media (min-width: $viewport-lg-w) and (max-width: $viewport-xl-w) {
    .stock-prices-item {
      &__info {
        flex: 0 0 260px;
      }
    }
  }

  @media (max-width: $viewport-lg-w) {
    height: auto;

    .stock-prices-item {
      &__info {
        &-description {
          min-height: 52px;
        }
      }
    }
  }

  @media (max-width: $viewport-md-w) {
    .stock-prices-item {
      &__info {
        &-description {
          min-height: 80px;
        }
      }
    }

    .stock-prices__content {
      .stock-prices-menu {
        flex-wrap: unset;
        overflow-x: scroll;

        @include hideScrollbar;
        margin: 0;
        padding: 0;

        .stock-prices-wrapper {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}