@import '~/variables';

.our-offer-banner-section {
  .container {
    height: inherit;
    padding: 0;

    .row {
      margin: 0;
      height: inherit;
    }
  }

  .our-offer {
    &__item {
      height: inherit;
      border-right: 3px solid #fff;

      &:first-child {
        border-left: 3px solid #fff;
      }

      &:not(:last-child) {
        border-right: 3px solid #fff;
      }
    }
  }

  svg {
    fill: $dark-blue;
  }

  @media (max-width: $viewport-lg-w) {
    .our-offer {
      &__item {
        &:last-child {
          border-right: none;
        }

        &:first-child {
          border-left: none;
        }
      }
    }
  }

  @media (max-width: $viewport-md-w) {
    .our-offer {
      &__item {
        border-right: none !important;
        justify-content: center;

        &:not(:last-child) {
          border-bottom: 3px solid #fff;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: $viewport-xs-w) {
    .our-offer {
      &__item {
        justify-content: unset;
      }
    }
  }
}