@import '~/variables';

.details-header {
  .change-amount {
    text-decoration: underline;
    font-size: 14px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background: $dark-grey;
      width: 1px;
      height: 100%;
      left: -10px;
      top: 0;
    }
  }
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
  }
}
