@import '~/variables';
@import '~/mixin';

.contacts-wrapper {
  .page-top {
    height: 400px;
    display: flex;
    background: rgb(92, 115, 131);

    &__title {
      font-size: 48px;
      font-weight: 600;
      font-family: $font-family1;
      line-height: 64px;
      color: $dark-text;
    }

    &__description {
      font-size: 18px;
      line-height: 30px;
      color: $dark-text;
    }

    @media (max-width: $viewport-lg-w) {
      height: 400px;

      &__title {
        font-size: 44px;
        line-height: 64px;
      }

      &__description {
        font-size: 22px;
      }

      .section-bg .secondary-bg {
        height: 400px;
        right: 0;
        background-position-x: 65% !important;
      }
    }

    @media (max-width: $viewport-md-w) {
      height: 400px;

      &__title {
        font-size: 32px;
        line-height: 40px;
      }

      &__description {
        font-size: 20px;
        line-height: 28px;
      }
    }

    @media (max-width: $viewport-sm-w) {
      height: 572px;

      .section-bg .secondary-bg {
        height: 572px;
      }
    }
  }

  .contacts {
    &__title {
      font-size: 22px;
      line-height: 34px;
      color: $dark-text;
      width: 200px;

      &-line {
        width: 75px;
        height: 2px;
        background: $blue;
      }
    }

    &__item {
      height: 200px;
      flex: 0 0 365px;
      max-width: 365px;
    }

    &__item-container {
      @include d-flex(center, center, column);
      background: linear-gradient(180deg, #FFFFFF 0%, #F3F3F8 100%);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      height: 200px;
    }

    &__list {
      &-item {
        font-size: 16px;
        line-height: 26px;
        color: $text;

        svg {
          fill: $blue;
        }
      }
    }

    @media (max-width: $viewport-lg-w) {
      &__item {
        flex: 0 0 248px;
        max-width: 248px;
      }
    }

    @media (max-width: $viewport-md-w) {
      &__item {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &__title {
        font-size: 20;
        line-height: 28px;
      }
    }
  }

  .map {
    line-height: 0;
  }
}