@import '~/variables';
@import '~/mixin';

.common-table-wrapper {
  .common-table {
    display: grid;
    grid-template-rows: 70px;
    grid-auto-rows: 70px;
    width: 100%;
    border-collapse: collapse;
    border-radius: $border-box-radius;
    box-shadow: box-shadow(15, 0.1);


    .th,
    .td {
      @include px((xs: 2));
      height: 100%;
      width: 100%;
      @include d-flex(center, center);
      flex-wrap: wrap;
    }

    .th {
      box-shadow: box-shadow(15, 0.066);

      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: $text;
    }



    .td {
      border-bottom: 1px solid $grey;
      box-sizing: border-box;
      transition: background 0.3s;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $dark-text;

      &:hover {
        background: $grey-bg;
      }
    }
  }

  .toggleTableView {
    @include d-flex(center);

    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $dark-blue;

    &:hover {
      text-decoration: underline;
    }

    svg {
      fill: $dark-blue;

      &.up {
        transform: rotate(180deg);
      }
    }
  }
}