@import '~/variables';
@import '~/mixin';

.header.main {
  position: absolute;
  // top: 30px;
  z-index: 99;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  box-shadow: box-shadow(50, 0.05);
  // transition: top 0.2s;

  .panel-menu {
    position: relative;
    display: flex;
    height: $menu-height-main-lg;
    transition: height 0.35s;

    .container {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 80;

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: $spacer;
        bottom: 0;
        display: block;
        width: calc(100% - #{$spacer * 2});
        height: 2px;
        background: #fff;
        opacity: 0.1;
      }
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: -100%;
      height: 100%;
      width: 100%;
      background: #fff;
      box-shadow: 0px 3px 20px transparent;
      transition: top 0.35s, box-shadow 0.35s;
    }

    .logo {
      display: flex;
      align-items: center;
      width: 155px;
      font-weight: 500;
      font-size: 24px;

      svg {
        fill: #fff;

        .label {
          fill: #fff;
          transition: fill 0.15s;
        }

        transition: fill 0.3s;
      }
    }

    .burger-toggle {
      display: flex;
      
      svg {
        transition: all 0.3s;

        &.close-icon {
          width: 30px;
          height: 30px;
          padding: 5px;
        }
      }
    }

    .sign-in-btn {
      color: #fff;
      transition: color 0.35s;

      &:hover {
        color: #fff;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      position: relative;
      transition: height 0.35s;
      height: 100%;

      &__item {
        margin-right: 30px;
        display: flex;
        height: 100%;

        a {
          color: #fff;
          font-size: 16px;
          display: flex;
          align-items: center;
          text-decoration: none;
          transition: color 0.35s;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: transparent;
            z-index: 2;
            transition: background 0.35s;
          }

          &.active {
            &:after {
              background: #fff;
            }
          }
        }
      }
    }

    button {
      background: $dark-blue;
      width: 175px;
      color: #fff;

      a {
        color: #fff;
      }
    }

    &.fixed {
      height: $menu-height-main-fixed-lg;
      top: 0;

      &:before {
        top: 0;
        box-shadow: box-shadow(20, 0.15);
      }

      .logo {
        svg {
          fill: $grey;

          .label {
            fill: $dark-text;
          }
        }
      }

      .burger-toggle {
        svg {
          fill: $dark-text;

          &.burger-icon {
            stroke: $dark-text;
          }
        }
      }

      .sign-in-btn {
        color: $dark-text;

        &:hover {
          color: $dark-text;
        }
      }

      .menu {
        margin-bottom: 2px;

        .menu__item {
          a {
            color: $dark-text;

            &.active {
              &:after {
                background: $dark-text;
              }
            }
          }
        }
      }
    }
  }

  .burger-menu {
    position: fixed;
    display: table;
    background: #fff;
    width: 100%;
    height: 100%;
    top: -200%;
    transition: top 0.5s;
    left: 0;

    &.open {
      transition: top 0.3s;
      position: fixed;
      top: 0;

      button {
        opacity: 1;
      }
    }

    .menu__item {
      a {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $grey;
        color: $dark-text;
        text-decoration: none;
        height: 38px;

        &.active {
          border-bottom-color: $dark-text;
          font-weight: 500;
        }
      }
    }

    button {
      background: $dark-blue;
      color: #fff;
      border-radius: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 0.1s;

      a {
        color: #fff;
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
  }

  @media (max-width: $viewport-lg-w) {
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);

    .panel-menu {
      height: $menu-height-main-fixed-md;

      .menu {
        display: none;
      }

      &:before {
        transition: top 0.2s;
      }
    }
  }

  @media (max-width: $viewport-md-w) {
    .panel-menu {
      height: $menu-height-main-fixed-sm;

      .burger-toggle {
        svg {
          &.close-icon {
            height: 24px;
            padding: 2px;
          }
        }
      }
    }
  }
}

#root.main.locking,
#root.main.locked {
  .header.main {
    top: 0;
    z-index: 90;
  }
}
