@import '~/variables';

.field.input {
    &.disabled {
        background: $light-grey;
        border-color: $dark-grey;

        .label {
            color: $dark-grey;
        }
    }

    input {
        &:disabled {
            background-color: $light-grey;
        }
    }
}