@import '~/variables';
@import '~/mixin';

.product-wrapper {
  .page-top {
    @include mt((xs: $menu-height-main-sm, md: $menu-height-main-md, lg: $menu-height-main-lg));
    @include height((xs: 422px, md:336px, lg:344px));
    display: flex;
    align-items: center;
    background: #1a1b1c;
    color: #fff;

    .section-bg .secondary-bg {
      @include height((xs: 495px, md:421px, lg:436px));
      background-position: calc(50% + 8px) 50% !important;
    }

    .container {
      @include mt((md: 40px, lg: 20px), n);
    }

    &__title {
      @include fontSize((xs: 32px, md: 44px, lg: 48px));
      @include lineHeight((xs: 40px, md: 64px, lg: 64px));
      @include width((xs: 330px, md: auto));
      @include mx((xs: auto));
      color: $dark-text;

      span {
        font-weight: bold;
      }
    }

    .nav-buttons {
      position: relative;
      width: fit-content;
      background: white;
      border-radius: 25px;

      .col {
        flex-grow: 0;
        width: fit-content;

        button {
          width: 100%;
          height: $btn-size-md;
          color: $text;
          font-size: 14px;
          background: transparent;
          transition: color 0.2s;
          white-space: nowrap;

          &:hover {
            color: $dark-text;
            box-shadow: none;
          }

          &.active {
            color: white;
            background: $blue;
            border-radius: 25px;
            border-color: transparent;
          }
        }
      }
    }

    @media (max-width: $viewport-md-w) {
      button {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}