@import '~/variables';

.client-profile-page-wrapper {
	.client-profile {
		&__tabs {
			.common-tabs {
				&__navigation {
					width: 620px;
					align-self: center;

					&:after {
						background: $dark-grey;
					}
				}
			}
		}
	}
}
