@import '~/variables';

.client-profile-page-wrapper {
  .client-profile {
    &__tabs {
      .common-tabs {
        &__navigation {
          width: 720px;
          align-self: center;

          @media (max-width: $viewport-lg-w) {
            width: 620px;
          }

          // &:after {
          // 	background: $dark-grey;
          // }
        }
      }
    }
  }
}
