@import '~/variables';
@import '~/mixin';

.header.portal {
  .header-wrapper {
    .panel {
      .logo {
        width: 105px;
        
        svg {
          fill: $bsfx-blue;
          .label {
            fill: $dark-text;
          }
        }
      }
    }
  }
}
