@import '~/variables';

.registration-third-step {
  .radio-wrapper.account_type {
    &.totalAccTypes {
      &_2 .col {
        max-width: calc(50% - 15px);
      }
      &_3 .col {
        max-width: 31%;
      }
    }
    @media (max-width: $viewport-lg-w) {
      .spread {
        padding: 2px !important;
      }
    }

    label {
      padding-left: 0 !important;
      display: block;
      margin-bottom: 0;
      cursor: pointer;
      padding-bottom: 35px;
      text-align: center;

      .name {
        transition: border-color 0.2s, background-color 0.2s;
        color: $dark-blue;
      }

      .name,
      .spread,
      .commission {
        padding: 8px 0;
        border-bottom: 1px solid $dark-grey;
      }

      .spread,
      .commission {
        font-size: 12px;
      }

      .spread {
        @media (min-width: $viewport-xl-min-w) {
          padding-left: 30px;
          padding-right: 30px;
        }
        padding-left: 34px;
        padding-right: 34px;
      }

      .mark {
        margin: 8px auto;
        border-radius: 50%;
        border: 1px solid $dark-grey;
        width: 14px;
        height: 14px;
        transition: border-color 0.2s, background-color 0.2s;
        bottom: 3px;
        left: calc(50% - 7px);
      }

      &.selected {
        .mark {
          background-color: $dark-blue;
          border-color: $dark-blue;
        }
        .name {
          border-color: $dark-blue;
          background-color: $dark-blue;
          color: #ffffff;
        }
      }
    }
  }
}
