@import '~/variables';
@import '~/mixin';

.edd-form {
  &__title {
    @include display((xs: block, lg: none));
    @include mb((xs: 4));
    font-weight: 500;
    font-size: 16px;
  }

  &__col-label {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
  }

  &__radio {
    @include col((xs: 12, sm: 6));
  }

  &__button {
    @include mt((xs: 7, lg: 0));
  }
}