@import '~/variables';

.burger-profile {
  &__info {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: $grey;

    &__facepile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    &__full-name {
      text-transform: capitalize;
    }

    &__chevron {
      transform: rotate(180deg);
      transition: transform 0.2s;
      fill: $dark-grey;
    }
  }

  &__sub-menu {
    overflow: hidden;
    transition: height 0.3s;

    &__item {
      display: flex;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid $grey;
      width: calc(100% - 39px);

      a {
        color: $dark-text;
        text-decoration: none;

        &:hover {
          color: $dark-text;
          text-decoration: none;
        }
      }

      svg {
        fill: $dark-blue;
        width: 20px;
      }
    }
  }

  &.closed {
    .burger-profile__sub-menu {
      height: 0 !important;
    }

    .burger-profile__info__chevron {
      transform: rotate(0deg);
      transition: transform 0.2s;
    }
  }
}
