@import '~/variables';

.table-section {
  &__title {
    text-transform: uppercase;
  }

  &__toggleTableSize {
    svg {
      border-radius: 20px;
      width: 14px;
      height: 14px;
      padding: 2px;
      background-color: $dark-blue;
      fill: #fff;
      margin: -2px 0 0 5px;

      &.up {
        transform: rotate(180deg);
      }
    }
  }

  .market-table {
    .thead {
      .tr {
        text-transform: uppercase;
      }
    }
  }

  @media (max-width: $viewport-lg-w) {
    padding: 55px 0 !important;
    .row.reversed:not(.preview) {
      flex-flow: wrap;
    }
    .container {
      .tableCol {
        padding: 0;
      }
    }

    .market-table {
      .tr {
        text-transform: initial !important;
      }
    }
  }

  @media (max-width: $viewport-md-w) {
    &__toggleTableSize {
      padding-left: 20px;
    }
    .market-table {
      .tr {
        > .td {
          font-size: 14px;
        }
      }
    }
  }
}
