@import '~/variables';
@import '~/mixin';

.legal-documents-wrapper {
  &__links {
    button {
      display: none;
    }

    .links {
      &__cards {
        @include mb((xs:4, lg: 0));

        .cards-nav {
          display: none;
        }

        .common-cards {
          &__container {
            .card {
              @include col((xs: 12, md: 6));
              @include mb((xs:7, md: 9));

              &:last-child,
              &:nth-last-child(2) {
                @include mb((lg: 0));
              }
            }
          }

          &__item {
            text-align: left;

            &-observer {
              display: none;
            }

            @include d-flex(center, space-between, row);
            @include px((lg: 9));
            height: 106px;

            svg {
              fill: $blue;
            }

            &-header {
              color: $dark-text;
              font-size: 16px;
              font-weight: 400;
              line-height: 26px;
              justify-content: center;
              margin-bottom: 0;

              .svg-container {
                @include mr((xs: 4));
                height: 42px;
                width: 42px;
                padding: 10px 12px;
                background: #FFFFFF;

                border: 1px solid #E1E4EB;
                box-sizing: border-box;
                box-shadow: box-shadow(10, .05);
                border-radius: 26px;

                svg {
                  height: 20px;
                  vertical-align: top;
                }
              }
            }

            &-content {
              @include d-flex(center, center, row);
              background: $light-blue;
              border-radius: $border-radius;
              flex: 0 0 160px;
              height: 40px;

              a {
                font-family: $font-family1;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;

                svg {
                  @include mr((xs: 2));
                  height: 16px;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: $viewport-lg-w) {
      button {
        display: inline-block;
      }

      .links {
        &__cards {
          .common-cards {
            &__item {
              @include d-flex(start, space-between, column);
              height: 160px;

              &-header {
                font-size: 20px;
                line-height: 28px;
              }

              &-content {
                height: unset;
                flex: unset;
                display: inline-block;
                background: transparent;
                border-radius: unset;

                a {
                  font-size: 16px;
                  line-height: 20px;
                  font-weight: 600;
                  text-decoration: underline;
                }
              }
            }

            &__container {
              &-content {
                line-height: 30px;
              }
            }
          }
        }
      }
    }

    @media (max-width: $viewport-md-w) {
      .links {
        &__cards {
          .common-cards {
            &__container {
              flex-flow: row wrap;
              justify-content: center;
            }

            &__item {
              height: 160px;
            }
          }
        }
      }
    }
  }

  hr {
    border: 0;
    height: 1px;
    background: rgba(174, 182, 200, 0.3);
  }
}