@import '~/variables';
@import '~/mixin';

.platform-wrapper__assets {
  .assets {
    &__row {
      @include justifyContent((xs: center));
    }

    &__column {
      @include col((xs: 12, lg: 9));
    }

    &__title {
      @include fontSize((xs: 24px, sm: 36px));
      @include lineHeight((xs: 34px, sm: 50px));
      @include mb((xs: 7));
      font-weight: 400;
      text-align: center;
      color: $dark-text;
    }

    &__description {
      @include fontSize((xs: 16px, sm: 18px));
      @include lineHeight((xs: 26px, sm: 30px));
      @include mb((xs: 9, md:13));
      text-align: center;
      color: $dark-text;
    }

    .common-tabs {
      @include display((xs: none, sm: flex));
    }
  }
}