@import '~/variables';

.dashboard-page-wrapper {
  section {
    .section-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      color: $dark-text;

      svg {
        fill: $blue;
      }
    }
  }

  .trading-accounts {
    &__tabs {
      .common-tabs {
        &__navigation {
          justify-content: start;
          height: 52px;
          @media (max-width: $viewport-sm-w) {
            justify-content: center;
          }

          &:after {
            z-index: 1;
            height: 2px;
            background: $grey;
          }

          .tab__link {
            &__label-title {
              @media (max-width: $viewport-sm-w) {
                font-size: 16px;
                line-height: 20px;
              }
            }

            &.active {
              color: $dark-blue;

              svg {
                fill: $blue;
              }
            }

            svg {
              fill: $dark-grey;
            }
          }

          .active-tab-line {
            height: 2px;
          }
        }
      }
    }
  }
}
