@import '~/variables';

.dashboard-page-wrapper {
  section {
    .section-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      color: $dark-text;

      svg {
        fill: $blue;
      }
    }
  }

  .trading-accounts {
    &__tabs {
      .common-tabs {
        &__navigation {
          @media (min-width: $viewport-md-min-w) {
            height: 52px;
          }

          &-wrapper {
            &:after {
              @media (min-width: $viewport-md-min-w) {
                height: 2px;
              }
            }
          }

          .tab__link {
            &__label-title {
              @media (max-width: $viewport-lg-w) {
                font-size: 16px;
                line-height: 20px;
              }
            }

            &.active {
              color: $dark-blue;

              svg {
                fill: $blue;
              }
            }

            svg {
              fill: $dark-grey;
            }
          }

          .active-tab-line {
            @media (min-width: $viewport-md-min-w) {
              height: 2px;
            }
          }
        }

        &__next,
        &__prev {
          @media (min-width: $viewport-md-min-w) {
            height: 52px;
          }
        }
      }
    }
  }
}
