@import '~/variables';
@import '~/mixin';

.about-wrapper {
  &__trusted {
    @include d-flex(center);

    .trusted {
      &__text {
        @include col((xs: 12, lg: 11));
        @include mx((xs: auto));
        text-align: center;
      }

      &__title {
        @include fontSize((xs: 24px, sm: 36px));
        @include lineHeight((xs: 34px, sm: 50px));
        @include mb((xs: 9));
        text-align: center;
      }

      &__description {
        @include fontSize((xs: 16px, sm: 18px));
        @include lineHeight((xs: 26px, sm: 30px));
        @include mb((xs: 13));
      }

      &__cards {
        &-container {
          @include col((xs: 12, sm:6, md:12));
          @include mx((sm: auto));
          padding: 0;
        }

        .common-cards {
          &__container {
            @include flexFlow((xs: unset, md: row wrap));

            .card {
              @include col((xs: 12, md: 3));
              @include mb((xs: 9, lg:0));
              @include p((xs: 0, lg: 5));
              border-right: 1px solid $grey;

              &:last-child {
                border-right: none;
              }

              &:first-child {
                @include borderLeft((xs: 1px solid $grey, md: none));
              }

            }
          }

          &__item {
            height: 140px;
            box-shadow: none;
            padding: 0;

            &-header {
              font-weight: 300;
              font-size: 40px;
              color: $dark-blue;
              justify-content: center;

              small {
                margin-left: 10px;
                font-size: 18px;
                color: $dark-blue;
              }
            }

            &-content {
              text-align: center;
            }
          }
        }
      }
    }
  }
}