@import '~/variables';

.tabLabel {
	background: transparent;
	border: none;
	margin-bottom: 0;
	position: relative;
	box-shadow: none;
	font-weight: 600;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 17px 50px 17px 48px;
	z-index: 1;
	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 16px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid $dark-grey;
	}
	.active & {
		background: #fff;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		box-shadow: -4px 0 10px 0 rgba(0, 0, 0, 0.05), 5px 0 0 0 #fff;
		&:after {
			content: '';
			background-color: $blue;
			border-color: $blue;
		}
		//transition: background 0.25s, box-shadow 0.25s, border 0.25s;
	}
	.text {
		font-size: 14px;
		text-align: left;
		line-height: 22px;
		.title {
			font-weight: 500;
		}
		.subtitle {
			font-weight: 400;
			color: rgba(0, 0, 0, 0.4);
		}
	}
	.icon {
		.disabled & {
			filter: grayscale(1) brightness(1.1);
		}
	}
}
