@import '~/variables';
@import '~/mixin';

.leverage-wrapper {
  &__ratios {
    @include d-flex(center, start, row);

    .common-table-wrapper {
      @include mx((xl: 18));

      table.common-table {

        th {
          text-align: left;
        }

        tr {
          td {
            height: 80px;
            align-items: center;
            line-height: 26px;

            &:last-child {
              text-align: right;
            }
          }
        }

        td,
        th {
          @include px((sm: 7, md: 11, lg: 18));
        }
      }
    }

    .deposit__cards {
      @include mt((xs: 12, md: 14, lg: 17));

      .common-cards {
        &__container {
          flex-flow: row nowrap;

          .card {
            &:first-child {
              @include pl((md: 0))
            }

            &:last-child {
              @include pr((md: 0))
            }
          }
        }

        &__item {
          height: 200px;
          text-align: center;
          justify-content: flex-start;
          padding: sp(12) sp(10);

          background: linear-gradient(180deg, #ffffff 0%, #f9f9fd 100%);
          box-shadow: box-shadow(15, 0.1);

          svg {
            fill: $blue;
          }

          &-header {
            color: $blue;
            font-family: $font-family1;
            font-weight: 700;
            font-size: 44px;
            line-height: 52px;
            text-align: center;
            justify-content: center;

            span {
              font-weight: 400;
            }
          }

          &-content {
            justify-content: center;
            text-align: center;
            font-size: 22px;
            line-height: 34px;

            small {
              display: block;
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
      }
    }

    .ratios {

      &__title {
        @include mb((xs: 7, sm: 9));
        font-family: $font-family1;
        font-size: 44px;
        line-height: 66px;
        text-align: center;
      }

      &__subTitle {
        @include col((xs: 12, md: 6, lg: 12));
        @include mx((xs: auto));
        @include mb((xs: 10, md: 11, lg: 14));
        font-size: 16px;
        line-height: 26px;
        color: $text;
        text-align: center;

        b {
          color: $blue
        }
      }

      @media (max-width: $viewport-lg-w) {
        &__title {
          line-height: 64px;
        }

        &__subTitle {
          font-size: 14px;
          line-height: 24px;
        }

      }

      @media (max-width: $viewport-md-w) {
        &__title {
          font-size: 32px;
          line-height: 40px;
        }

        &__subTitle {
          line-height: 22px;
        }
      }
    }

    @media (max-width: $viewport-md-w) {
      .common-table-wrapper {
        table.common-table {
          tr>td {
            height: 60px;
          }
        }
      }

      .deposit__cards {
        .common-cards {
          &__container {
            flex-flow: row wrap;
            justify-content: center;

            .card {
              flex: 0 0 100%;
              max-width: 100%;
              padding: 10px 0;

              &:first-child {
                padding-top: 0;
              }

              &:last-child {
                padding-bottom: 0;
              }
            }
          }

          &__item {
            height: 100px;
            align-items: flex-start;
            flex-direction: row;
            align-items: center;
            padding: sp(7) sp(9);

            &-header {
              font-size: 48px;
              line-height: 58px;
              margin-bottom: sp(2);

              &:after {
                content: '';
                position: relative;
                right: 0;
                display: block;
                height: 68px;
                width: 1px;
                z-index: 1;
                background: $border-grey;
                margin: 0 sp(9);
              }

              svg {
                margin-right: 8px;
              }
            }

            &-content {
              text-align: left;
              font-size: 20px;
              line-height: 28px;

              small {
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }

    @media (max-width: $viewport-sm-w) {
      .common-table-wrapper {
        overflow-x: hidden;

        table.common-table {
          width: 100%;

          th:first-child,
          td:first-child {
            position: relative;
            left: unset;
            box-shadow: none;
          }

          th {
            height: 60px;
          }
        }
      }
    }
  }
}