@import '~/variables';
@import '~/mixin';

.leverage-wrapper {
  &__ratios {
    @include d-flex(center);

    .common-table-wrapper {
      @include mx((xl: 18));

      table.common-table {

        th {
          text-align: left;
        }

        tr {
          td {
            height: 80px;
            align-items: center;
            line-height: 26px;

            &:first-child {
              display: table-cell;
            }

            &:last-child {
              text-align: right;
            }
          }
        }

        td,
        th {
          @include px((sm: 7, md: 11, lg: 18));
        }
      }
    }

    .deposit__cards {
      @include mt((xs: 12, md: 14, lg: 17));
    }

    .ratios {

      &__title {
        @include mb((xs: 7, sm: 9));
        font-family: $font-family1;
        font-size: 44px;
        line-height: 66px;
        text-align: center;
      }

      &__subTitle {
        @include col((xs: 12, md: 5, lg: 12));
        @include mx((xs: auto));
        @include mb((xs: 10, md: 11, lg: 14));
        font-size: 16px;
        line-height: 26px;
        color: $text;
        text-align: center;

        b {
          color: $blue
        }
      }

      @media (max-width: $viewport-lg-w) {
        &__title {
          line-height: 64px;
        }

        &__subTitle {
          font-size: 14px;
          line-height: 24px;
        }

      }

      @media (max-width: $viewport-md-w) {
        &__title {
          font-size: 32px;
          line-height: 40px;
        }

        &__subTitle {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

  }

  @media (max-width: $viewport-md-w) {
    .common-table-wrapper {
      table.common-table {
        tr>td {
          height: 60px;
        }
      }
    }
  }

  @media (max-width: $viewport-sm-w) {

    .common-table-wrapper {
      overflow-x: hidden;

      table.common-table {
        width: 100%;

        th:first-child,
        td:first-child {
          position: relative;
          left: unset;
          box-shadow: none;
        }

        th {
          height: 60px;
        }
      }
    }
  }

}