@import '~/variables';

.page-loader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-weight: 500;
  font-size: 55px;
  line-height: 63px;

  color: $dark-text;
  opacity: 1;
  transition: opacity 0s;

  &.hide {
    top: -100%;
    opacity: 0;
    transition: opacity 0.35s, top 0s 0.35s;
  }
}
