@import '~/variables';

.about-wrapper {
	.page-top {
		height: 750px;
		display: flex;
		align-items: center;
		background: rgb(92, 115, 131);
		color: #fff;
		overflow: hidden;
	
		&__header{
			z-index:1;
			&:before {
				position: absolute;
				content: '';
				display: block;
				background: $dark-text;
				width: calc(100% + 80px);
				height:10000%;
				left: -10%;
				top: -5000%;
				opacity: 0.7;
				z-index:-1
			}
		}
		
		.section-bg {
			background-size: cover !important;
			width: 100%;
			height: 100%;
	
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
		}
	
		&__title {
			font-weight: normal;
			font-size: 50px;
			line-height: 60px;
			text-transform: uppercase;
		}
	
		&__description {
			font-size: 18px;
			line-height: 30px;
		}
	
		button {
			background: $dark-blue;
			border-radius: $border-radius;
			width: 225px;
			height: $btn-size-lg;
			color: #fff;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
		}
	
		@media (max-width: $viewport-lg-w) {
			height: 500px;
			padding: 70px 0 !important;
			align-items: flex-end;
			
			&__title {
				font-size: 50px;
				line-height: 60px;
				color: #ffffff;
			}
	
			&__description {
				font-size: 16px;
				line-height: 26px;
			}
	
			button {
				height: 50px;
			}
		}

		@media (min-width: $viewport-md-min-w){
			&__header {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}

		@media (min-width: $viewport-lg-min-w){
			&__header {
				flex: 0 0 41.66667%;
				max-width: 41.66667%;
			}
		}

		@media (max-width: $viewport-md-w) {
			height: 500px;
		}
	
		@media (max-width: $viewport-sm-w) {
			height: 550px;
			&__title {
				font-size: 36px;
				line-height: 40px;
			}
	
			&__header{
				&:before {
					position: absolute;
					content: '';
					display: block;
					background: $dark-text;
					width: 10000%;
					height:10000%;
					left: 0;
					top: -5000%;
					opacity: 0.9;
					z-index:-1
				}
			}
	
			button {
				width: 100%;
			}
		}
	}
	.trusted {
		display: flex;
		align-items: center;

		&__title {
			font-size: 36px;
			line-height: 50px;
			text-align: center;
		}

		&__description {
			font-size: 18px;
			line-height: 30px;
		}

		.trusted__cards {
			.common-cards{
				&__container{
					.card{
						border-right: 1px solid #F1F2F2;
						&:last-child{
							border-right: none;
						}
					}
				}
				&__item {
					height: 140px;
					box-shadow: none;
					padding: 0;

					&-header {
						font-weight: 300;
						font-size: 40px;
						color: $bsfx-blue;
						justify-content: center;

						small {
							margin-left: 10px;
							font-size: 18px;
							color: $bsfx-blue;
						}
					}

					&-content {
						text-align: center;
					}
				}
			}
		}

		@media (min-width: $viewport-md-min-w){
			.trusted__cards {
				.common-cards{
					&__container{
						.card{
							flex: 0 0 25%;
							max-width: 25%;
						}
					}
				}
			}
		}

		@media (min-width: $viewport-lg-min-w){
			.trusted__text {
				flex: 0 0 91.66667%;
				max-width: 91.66667%;
			}
		}

		@media (max-width: $viewport-sm-w) {
			.trusted{
				&__title{
					font-size: 24px;
					line-height: 34px;
				}
				&__description{
					font-size: 16px;
					line-height: 26px;
				}
			}
		}

		@media (max-width: $viewport-md-w) {
			.trusted__cards {
				.common-cards__container {
					flex-flow: unset;
				}
			}
		}

		@media (max-width: $viewport-lg-w) {
			.trusted__cards {
				.common-cards__container {
					flex-flow: unset;
					.card{
						padding:0;
					}
				}
			}
		}
	}

	.deposit {
		display: flex;
		align-items: center;

		&__title {
			font-size: 36px;
			line-height: 46px;
			text-align: center;

			b {
				display: block;
			}
		}

		.deposit__cards {
			.common-cards{
				&__container{
					.card{
						border-right: 1px solid #F1F2F2;
						&:last-child{
							border-right: none;
						}
					}
				}
				&__item {
					height: 200px;
					text-align: center;
					box-shadow: none;
					padding: 0;
					svg {
						fill: $bsfx-blue;
					}

					&-header,
					&-content {
						// @media (max-width: $viewport-lg-w) {
						// 	font-size: 22px;
						// 	line-height: 34px;
						// }
						justify-content: center;
						text-align: center;

						small {
							display: block;
						}
					}
				}
			}
		}
		@media (max-width: $viewport-lg-w) {
			.deposit__cards {
				.common-cards{
					&__item {
						&-content {
							font-size: 22px;
							line-height: 34px;
						}
					}
				}
			}
		}
	}

	.in_touch {
		display: flex;
		align-items: center;
		background: #1A1B1C;
		color: #fff;
		padding: 140px 0;
	
		&__title {
			font-size: 36px;
			line-height: 46px;
		}
	
		&__description {
			font-size: 18px;
			line-height: 30px;
		}

		.in_touch__cards {
			.common-cards{
				&__container{
					.card{
						border-left:2px solid rgba(255, 255, 255, 0.2);
						&:last-child{
							border-right: 2px solid rgba(255, 255, 255, 0.2);
						}
					}
				}
				
				&__item {
					background: transparent;
					height: 150px;
					justify-content: flex-start;
					padding: 16px 40px !important;
	
					&-header {
						font-weight: 300;
						font-size: 65px;
						line-height: 50px;
						text-transform: capitalize;
						color: #fff;
						margin-bottom: 20px;
						justify-content: center;
					}
	
					&-content {
						font-size: 16px;
						line-height: 26px;
						color: #ffffff;
						text-align: center;
					}
				}
			}
		}
		
		@media (max-width: $viewport-lg-w) {
			.in_touch__cards {
				&__item {
					height: 150px;
					padding: 16px 0px !important;
				}
				&__container{
					.card{
						border-left: none;
						border-right:2px solid rgba(255, 255, 255, 0.2);
						&:last-child{
							border-right: none;
						}
					}
				}
			}
		}
			
		@media (max-width: $viewport-sm-w) {
			padding: 50px 0 !important;
			&__title {
				font-size: 24px;
				line-height: 34px;
			}
		
			&__description {
				font-size: 14px;
				line-height: 24px;
			}
		}
	}

	@media (max-width: $viewport-sm-w) {
		.common-cards{
			&__container{
				.card{
					border-right:none !important;
				}
			}
		}
	}
}

