@import '~/variables';
@import '~/mixin';



.market-table {
  border-radius: 0;
  box-shadow: none;

  .thead {
    background: $grey-bg;
    border-top: 1px solid $border-grey;
    box-shadow: none;
    color: $text;

    @media (min-width: $viewport-md-min-w) {
      border-radius: 0 $border-box-radius 0 0;
    }

    .tr {
      height: 80px;
      font-weight: 300;
      text-transform: capitalize;

      * {
        font-size: 14px;
      }

      >.td {
        .tr:last-child {
          border-radius: 0 $border-box-radius 0 0;
        }

        &.grouped .sub-row {
          border-top: 1px solid $border-grey;
          margin-top: 8px;
          height: 40px;
        }

        &.fullViewParam.full {
          padding: sp(5);
        }
      }
    }
  }

  .tbody {
    .tr:last-child {
      border-radius: 0 0 $border-box-radius 0;
    }
  }

  .tr {
    border-color: $border-grey;

    @media (min-width: $viewport-md-min-w) {
      border-bottom: 1px solid $border-grey !important;
      border-right: 1px solid $border-grey !important;
      border-left: 1px solid $border-grey !important;
    }

    >.td {
      border: none;

      &.grouped {
        @include flex((md: 1 0 280px));
        min-width: 280px;

        .td:nth-child(1),
        .td:nth-child(3),
        .sub-row span.col0,
        .sub-row span.col1,
        .sub-row span.col2 {
          @include d-flex(center, center);
          height: 100%;
          color: $dark-text;
          background: rgba($light-blue, 0.3) !important;
        }

        .sub-row span.col1 {
          background: white !important;
          color: $dark-text;
        }
      }

      &:first-child {
        @include flex((md: 0 0 100px, lg: 0 0 120px, xl: 0 0 140px));
        border-right: 1px solid $border-grey;
      }

      &:last-child {
        @include flex((md: 0 0 80px, lg: 0 0 110px, xl: 0 0 140px));
        border-left: 1px solid $border-grey;
      }

      .fullViewParam,
      &.fullViewParam {
        &.full {
          border-left: 1px solid $border-grey;
          border-right: none;
        }
      }
    }
  }
}