@import '~/variables';
@import '~/mixin';

.common-table-wrapper {
  border-top-left-radius: $border-box-radius;
  border-top-right-radius: $border-box-radius;

  .common-table {
    box-shadow: none;

    .thead {
      background-color: $grey-bg;
      border: solid 1px $grey-bg;
      border-top-left-radius: $border-box-radius;
      border-top-right-radius: $border-box-radius;
      border-left: none;
      box-shadow: none;

      .th {
        background-color: $grey-bg;

        &:first-child {
          border-left: 1px solid $grey-bg;
          border-top-left-radius: $border-box-radius;
        }

        &:last-child {
          border-top-right-radius: $border-box-radius;
        }

        &:not(:first-child) {
          justify-content: flex-start;
        }

        height: 40px;
        font-family: $font-family1;
        line-height: 17px;
        color: $grey;
      }
    }

    .tbody {
      border: 1px solid $border-grey;
      border-left: none;
      border-top: none;

      .tr {
        border-bottom: 1px solid $border-grey;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background: transparent;
        }

        .td {
          background-color: white;
          justify-content: flex-start;

          &:first-child {
            border-left: 1px solid $border-grey;

            img {
              margin: auto;
            }
          }
        }
      }
    }
  }

  @media (max-width: $viewport-sm-w) {
    overflow-x: auto;

    .common-table {
      width: 570px;

      .th:first-child,
      .td:first-child {
        position: sticky;
        left: 0;
        box-shadow: box-shadow(15, 0.1);
      }

      .th {
        height: 40px;
      }

      .tbody .tr .td {
        height: 60px;
        line-height: 22px;
        justify-content: flex-start;
      }
    }
  }
}