@import '~/variables';
@import '~/mixin';

.common-table-wrapper {
  border-top-left-radius: $border-box-radius;
  border-top-right-radius: $border-box-radius;

  .common-table-container {
    @include hideScrollbar();
    overflow-x: auto;
  }

  .common-table {
    grid-template-rows: 40px;
    grid-auto-rows: 70px;
    box-shadow: none;

    .th {
      background-color: $grey-bg;
      box-shadow: none;
      border-top: solid 1px $grey-bg;

      &.col--first {
        border-left: 1px solid $grey-bg;
        border-top-left-radius: $border-box-radius;
      }

      &.col--last {
        border-top-right-radius: $border-box-radius;
      }

      &:not(.col--first) {
        justify-content: flex-start;
      }

      font-family: $font-family1;
      line-height: 17px;
      color: $grey;
    }


    .td {
      border-bottom: 1px solid $border-grey;
      background-color: white;
      justify-content: flex-start;

      &:hover {
        background: transparent;
      }

      &.col--first {
        border-left: 1px solid $border-grey;
      }

      &.col--last {
        border-right: 1px solid $border-grey;
      }
    }
  }

  @media (max-width: $viewport-md-w) {
    .common-table {
      width: 640px;
      grid-template-rows: 40px;
      grid-auto-rows: 60px;

      .th.col--first,
      .td.col--first {
        position: sticky;
        left: 0;
        box-shadow: box-shadow(15, 0.1);
      }

      .tr .td {
        line-height: 22px;
        justify-content: flex-start;
      }
    }
  }
}