@import '~/variables';
@import '~/mixin';

.common-table-wrapper {
  table.common-table {
    box-shadow: none;
    border-radius: $border-box-radius;

    thead {
      box-shadow: none;

      th {
        &:not(:first-child) {
          text-align: left !important;
        }
        height: 40px;
        font-family: $font-family1;
        line-height: 17px;
        color: $grey;
        background-color: $grey-bg;
      }
    }

    tbody {
      border: 1px solid $border-grey;
      border-left: none;
      border-top: none;

      tr {
        border-bottom: 1px solid $border-grey;

        &:hover {
          background: transparent;
        }

        td {
          background-color: white;
          text-align: left;
          &:first-child {
            display: flex;
            border-left: 1px solid $border-grey;

            img {
              margin: auto;
            }
          }
        }
      }
    }
  }

  @media (max-width: $viewport-sm-w) {
    overflow-x: auto;

    table.common-table {
      width: 570px;
      th:first-child,
      td:first-child {
        position: sticky;
        left: 0;
        box-shadow: box-shadow(15, 0.1);
      }

      th {
        height: 40px;
      }

      tbody tr td {
        height: 60px;
        line-height: 22px;
        text-align: left;
      }
    }
  }
}
