@import '~/variables';
@import '~/mixin';

.header-panel-auth {
  @include d-flex(center);

  .sign-in-btn {
    color: #fff;
    transition: color 0.35s;

    &:hover {
      color: #fff;
    }

    .panel-menu.fixed & {
      color: $dark-text;

      &:hover {
        color: $dark-text;
      }
    }
  }

  .open-account-btn {
    @include display((xs: none, md: block));
    @include ml((xs: 9));
    background: $dark-blue;
    width: 175px;
    color: #fff;

    a {
      color: #fff;
    }
  }
}