@import '~/variables';
@import '~/mixin';

.header.main {
  .header-profile-menu {
    @include d-flex(center);
    position: relative;

    &__facepile {
      border-radius: 50%;
      background: #ffffff;
      box-shadow: box-shadow(15, 0.1);
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      font-size: 16px;
      line-height: 26px;
      color: #6f6f6f;

      &:before {
        content: '';
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        position: absolute;
        top: 1px;
        right: 1px;
        display: none;
      }

      &.alert {
        &:before {
          display: block;
          background: $red;
        }
      }
    }

    &__chevron {
      transition: all 0.25s;
      cursor: pointer;
      fill: #ffffff;
    }

    &.open {
      .header-profile-menu__chevron {
        transform: rotate(180deg);
      }

      .header-profile-menu__dropdown {
        visibility: visible;
        opacity: 1;
      }
    }

    @media (max-width: $viewport-md-w) {
      .header-profile-menu {
        &__facepile {
          height: 30px;
          width: 30px;
          font-size: 12px;
        }
      }
    }
  }

  &.fixed {
    .header-profile-menu {
      &__chevron {
        fill: $text;
      }
    }
  }
}
