@import '~/variables';
@import '~/mixin';

.header.main {
  .panel-menu {
    &.fixed {
      .logo {
        svg {
          fill: $bsfx-blue;

          .label {
            fill: $dark-text;
          }
        }
      }
    }

    @media (max-width: $viewport-xl-w) {
      .menu {
        &__item {
          a {
            font-size: 15px;
          }
        }
      }
      .logo {
        width: 115px;
      }

      .sign-in-btn,
      .common-button {
        font-size: 15px;
      }
    }

    @media (max-width: $viewport-md-w) {
      .logo {
        width: 55px;
      }
    }
  }
}
