@import '~/variables';
@import '~/mixin';

.header.main {
  .panel-menu {
    &.fixed {
      .logo {
        svg {
          fill: $bsfx-blue;

          .label {
            fill: $dark-text;
          }
        }
      }
    }

    @media (max-width: $viewport-md-w) {
      .logo {
        width: 55px;
      }
    }
  }
}
