@import '~/variables';
@import '~/mixin';

.header.main {
  .panel-menu {
    &.fixed {
      .header-panel-logo {
        svg {
          fill: $bsfx-blue;

          .label {
            fill: $dark-text;
          }
        }
      }
    }

    @media (max-width: $viewport-xl-w) {
      .header-panel-inline-menu {
        .menu__item {
          a {
            font-size: 15px;
          }
        }
      }

      .header-panel-logo {
        width: 115px;
      }

      .header-panel-auth {

        .sign-in-btn,
        .open-account-btn {
          font-size: 15px;
        }
      }
    }

    @media (max-width: $viewport-md-w) {
      .header-panel-logo {
        width: 55px;
      }
    }
  }
}