@import '~/variables';
@import '~/mixin';

.withdrawal-page__history {
  display: flex;
  flex-direction: column;

  .withdrawal-history {
    &__title {
      font-size: 22px;
      line-height: 30px;
      color: $dark-text;
      @include d-flex(center, center);
    }

    &__content {
    }
  }
}
