@import '../theme';

body {
  #root {
    &.portal {
      background: white;
    }

    &.main,
    &.auth,
    &.general {
      section {
        position: relative;

        @media (min-width: $viewport-md-min-w) {
          padding: 68px 0;
        }

        @media (max-width: $viewport-md-w) {
          padding: 48px 0;
        }
      }
    }
  }

  button,
  .btn {
    min-height: $btn-size-sm;
  }
}
