@import '../variables';

// Overall
$border-box-radius: 6px;
$border-radius: 4px;

// Colors
$dark-blue: #1111a3;
$blue: #1144fa;
$light-blue: #e4e9fb;
$uinvex-blue: #46b0fd;

$dark-text: #262a4b;
$text: #5d6c92;
$border-grey: #e1e4eb;

$grey-bg-light: #fff;
$grey-bg: #f5f6f8;
$dark-grey: #aeb6c8;
$light-grey: #f5f6f8;
$grey: #aeb6c8;

$red: #ec464c;
$light-red: #fef6f6;
$green: #05b369;
$light-green: #e6f7f0;
$yellow: #f69427;
$light-yellow: #fef3e8;

// Button
$btn-size-sm: 36px;
$btn-size-md: 40px;
$btn-size-lg: 48px;

// Tabs
$tabs-navigation-height: 40px;

$grid-gutter-width: 26.66px;
$container-max-widths: (sm: 544px,
  md: 748px,
  lg: 964px,
  xl: 1126.66px,
);


// Main Menu
$menu-height-main-lg: 60px;
$menu-height-main-md: 60px;
$menu-height-main-sm: 58px;
$menu-height-main-fixed-lg: 60px;
$menu-height-main-fixed-md: 60px;
$menu-height-main-fixed-sm: 58px;

// Fonts
$font-family: 'Mulish',
sans-serif;
$font-family1: 'Montserrat',
sans-serif;
// Overload bootstrap fonts variables
$font-family-base: $font-family;
$headings-font-family: $font-family1;