@import '../variables';

// Overall
$border-box-radius: 6px;
$border-radius: 4px;

// Button
$btn-size-lg: 48px;

// Colors
$bsfx-blue: #1722c6;
$dark-blue: #1144fa;
$blue: #46b0fd;
$dark-text: #262a4b;
$text: #6f6f6f;
$grey-bg-light: #f8f8f9;
$grey-bg: #f5f6f8;
$dark-grey: #cacfd5;
$grey: #f1f2f2;
$red: #ea3131;
$green: #40d9a2;

// Fonts
$font-family: 'Mulish', sans-serif;
$font-family1: 'Montserrat', sans-serif;
// Overload bootstrap fonts variables
$font-family-base: $font-family;
$headings-font-family: $font-family1;
