@import '../variables';

// Overall
$border-box-radius: 6px;
$border-radius: 4px;

// Colors
$dark-blue: #1111a3;
$blue: #1144fa;
$light-blue: #e4e9fb;
$uinvex-blue: #46b0fd;

$dark-text: #262a4b;
$text: #5d6c92;
$border-grey: #e1e4eb;

$grey-bg-light: #fff;
$grey-bg: #f5f6f8;
$dark-grey: #aeb6c8;
$light-grey: #f5f6f8;

$red: #ec464c;
$light-red: #fef6f6;
$green: #05b369;
$light-green: #e6f7f0;
$yellow: #f69427;
$light-yellow: #fef3e8;

// Button
$btn-size-sm: 36px;
$btn-size-md: 40px;
$btn-size-lg: 48px;

// Tabs
$tabs-navigation-height: 40px;

$grid-gutter-width: 26.66px;
$container-max-widths: (sm: 544px,
  md: 748px,
  lg: 964px,
  xl: 1126.66px,
);

// Form Elements
$form-elements-height: 48px;

$input-height: $form-elements-height;
$button-height: $form-elements-height;
$datepicker-height: $form-elements-height;
$radio-height: $form-elements-height;
$select-height: 46px;

// Main Menu
$menu-height-main-lg: 60px;
$menu-height-main-md: 60px;
$menu-height-main-sm: 58px;
$menu-height-main-fixed-lg: 60px;
$menu-height-main-fixed-md: 60px;
$menu-height-main-fixed-sm: 58px;

// Notification
$notification-top-main-lg: 90px;
$notification-top-main-md: 48px;
$notification-top-main-sm: 88px;
$notification-top-main-fixed-lg: 60px;
$notification-top-main-fixed-md: 60px;
$notification-top-main-fixed-sm: 58px;

// Portal Menu
$menu-height-portal-lg: 80px;
$menu-height-portal-md: 70px;
$menu-height-portal-sm: 70px;
$menu-height-portal-fixed-lg: 80px;
$menu-height-portal-fixed-md: 70px;
$menu-height-portal-fixed-sm: 70px;

// Portal Desktop Dropdown Menu
$menu-dropdown-height-portal: 75px;

// Fonts
$font-family: 'Mulish',
sans-serif;
$font-family1: 'Montserrat',
sans-serif;
// Overload bootstrap fonts variables
$font-family-base: $font-family;
$headings-font-family: $font-family1;