@import '~/variables';
@import '~/mixin';

.open-live-account-banner {
  overflow: visible;
  padding: 0 !important;

  &:before {
    content: none;
  }

  .open-live-account-banner__column {
    height: 440px;
    overflow: hidden;
    @include d-flex(start, center, column);
    z-index: 1;
    margin-bottom: 0 !important;
    &:before {
      content: '';
      top: -500%;
      left: -40px;
      background: $dark-blue;
      position: absolute;
      display: block;
      opacity: 1;
      height: 1000%;
      z-index: -1;
      width: 100%;
    }
  }

  &__title {
    font-size: 56px;
    line-height: 66px;
  }

  &__description {
    font-size: 18px;
    line-height: 30px;
  }

  .open-account {
    flex: 0 0 colSizePrc(4);
    max-width: colSizePrc(4);
    @include d-flex(start, center, column);
    z-index: 1;
    padding: 0 65px;
    margin-bottom: 80px;

    .open-live-account-banner {
      &__title {
        font-size: 42px;
        line-height: 52px;
        font-weight: normal;

        svg {
          @include fillLogo($blue, white, $dark-blue);
        }
      }
      &__description {
        margin: 15px 0 40px 0 !important;
      }
    }

    &:before {
      content: '';
      top: -40px;
      left: -25px;
      background: linear-gradient(0.35deg, #262a4b 0.29%, #44486c 99.67%);
      position: absolute;
      display: block;
      opacity: 1;
      height: calc(100% + 80px);
      z-index: -1;
      width: calc(100% + 50px);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
    }

    button {
      background-color: white;
      width: 190px;
      a {
        color: $dark-blue;
      }
    }
  }

  @media (max-width: $viewport-xl-w) {
    .open-account {
      padding: 0 40px;
    }
  }

  @media (max-width: $viewport-lg-w) {
    padding: 0 !important;
    .open-live-account-banner__column {
      justify-content: flex-start;
      &:before {
        width: 70%;
      }
      height: 400px;
      flex: 0 0 colSizePrc(6);
      max-width: colSizePrc(6);
      margin-bottom: 0 !important;

      .open-live-account-banner__title {
        padding-top: 48px;
      }
    }

    .container {
      max-width: 100%;
    }

    &__title {
      font-size: 48px;
      line-height: 58px;
    }

    &__description {
      font-size: 16px;
      line-height: 26px;
    }

    .open-account {
      justify-content: flex-start;

      flex: 0 0 colSizePrc(5);
      max-width: colSizePrc(5);
      padding: 0 40px;
      margin-top: 0 !important;
      margin-bottom: sp(12);
      margin-left: sp(3);

      .open-live-account-banner {
        &__title {
          font-size: 36px;
          text-align: center;
          padding-top: 15px;
        }
        &__description {
          text-align: center;
        }
      }

      &:before {
        width: calc(100% + 30px);
        height: calc(100% + 50px);
        left: -15px;
      }
      button {
        align-self: center;
      }
    }
  }

  @media (max-width: $viewport-sm-w) {
    padding: 0 !important;
    margin-bottom: 100px;
    background: $dark-blue;

    .open-live-account-banner__column {
      align-items: center;
      height: 530px;
      &:before {
        content: none;
      }
      max-width: 100%;
      padding: 0 20px;
      margin-bottom: 62px !important;
    }

    .row {
      flex-direction: column;
    }

    &__title,
    &__description {
      text-align: center;
    }

    .open-account {
      margin-bottom: 0;
      padding: 0 16px;

      flex: 0 0 colSizePrc(4);
      max-width: colSizePrc(10);
      margin-left: colSizePrc(1);

      .open-live-account-banner {
        &__title {
          line-height: 44px;
        }
      }

      &:before {
        top: unset;
        bottom: -100px;
        height: calc(100% + 130px);
      }

      button {
        position: absolute;
        bottom: -50px;
        width: 190px;
      }
    }

    .section-bg {
      display: none;
    }
  }
}
