@import '~/variables';
@import '~/mixin';

.open-live-account-banner {
  @include d-flex(flex-end);
  overflow: visible;
  padding: 0 !important;
  background: transparent;
  color: white;
  position: relative;
  height: 480px;

  .section-bg {
    top: 40px;
    height: 440px;
    background-repeat: repeat;
  }

  .open-live-account-banner__column {
    @include d-flex(start, center, column);
    @include col((xs: 12, sm:6, xl: 5));
    height: 440px;
    z-index: 1;
    margin-bottom: 0 !important;
  }

  &__title {
    font-size: 56px;
    line-height: 66px;
    font-weight: 700;
    font-family: $font-family1;

    b {
      display: block;
    }

    .common-svg {
      display: block;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 30px;
  }

  .open-account {
    @include d-flex(center, center, column);
    @include ml((xs: 5, md: sp(5, n), lg: auto));
    flex: 0 0 colSizePrc(5);
    max-width: colSizePrc(5);
    z-index: 1;
    padding-top: 10px;
    margin-top: -40px !important;
    border-radius: 6px;
    box-shadow: box-shadow(15, 0.1);
    background: linear-gradient(0.35deg, #262a4b 0.29%, #44486c 99.67%);
    height: 440px;

    .open-live-account-banner {
      &__title {
        font-family: $font-family1;
        font-size: 42px;
        line-height: 52px;

        font-weight: normal;
        text-align: center;

        svg {
          @include fillLogo($uinvex-blue, white, $blue);
        }
      }

      &__description {
        margin: 15px 0 40px 0 !important;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
        width: 285px;
      }
    }

    .open-account {
      text-align: center;

      .open-live-account-banner__title {
        font-weight: bolder;
      }

      button {
        margin: 0 auto;
      }
    }

    button {
      background-color: $light-blue;
      border-radius: $border-radius;
      width: 190px;
      height: $btn-size-lg;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      a {
        color: $blue;
      }
    }
  }

  @media (max-width: $viewport-lg-w) {
    padding: 0 !important;
    height: 440px;

    .section-bg {
      height: 400px;
    }

    .open-live-account-banner__column {
      height: 400px;
      justify-content: center;

      &:before {
        width: 70%;
      }

      flex: 0 0 colSizePrc(6);
      max-width: colSizePrc(6);
      margin-bottom: 0 !important;

      .open-live-account-banner {
        &__title {
          margin-bottom: sp(12) !important;
        }
      }
    }

    &__title {
      font-size: 48px;
      line-height: 58px;
    }

    &__description {
      font-size: 16px;
      line-height: 26px;
    }

    .open-account {
      text-align: left;
      justify-content: center;

      flex: 0 0 colSizePrc(6);
      max-width: colSizePrc(6);
      height: 400px;

      .open-live-account-banner {
        &__title {
          font-size: 36px;
        }

        &__description {
          width: 200px;
          font-size: 16px;
          line-height: 26px;
        }
      }

      &:before {
        width: calc(100% + 30px);
        height: calc(100% + 50px);
        left: -15px;
      }

      button {
        align-self: center;
        margin: 0;
      }
    }
  }

  @media (max-width: $viewport-md-w) {
    padding: 48px 0 0 0 !important;
    height: 630px;
    align-items: flex-start;

    .section-bg {
      height: 530px;
      background: $blue !important;
      top: 0;
    }

    .open-live-account-banner__column {
      height: initial;
      align-items: center;
      flex: unset;
      margin-bottom: sp(10) !important;
      text-align: center;

      &:before {
        content: none;
      }

      max-width: 100%;

      .open-live-account-banner {
        &__title {
          font-size: 48px;
          line-height: 58px;
          text-align: center;
          padding-top: 0;
          margin-bottom: sp(7) !important;
        }

        &__description {
          line-height: 22px;
        }
      }
    }

    .row {
      flex-direction: column;
    }

    .open-account {
      margin-top: 0 !important;
      margin-bottom: 0;
      align-items: center;
      height: 330px;

      flex: unset;
      max-width: 100%;
      width: unset;
      margin-right: sp(5);

      .open-live-account-banner {
        &__title {
          line-height: 44px;
          padding-top: 0;
        }

        &__description {
          width: 100%;
          line-height: 22px;
        }
      }

      &:before {
        top: unset;
        bottom: -100px;
        height: calc(100% + 130px);
      }

      button {
        width: 190px;
      }
    }
  }
}