@import '~/variables';
@import '~/mixin';

.open-live-account-banner {
  @include d-flex();
  @include alignItems((xs: flex-start, md: flex-end));
  @include height((xs: 630px, md: 440px, lg: 480px));
  @include p((xs: sp(12) 0 0 0, md: 0), i);
  @include mb((xs: sp(11, n), md: unset));
  overflow: visible;
  background: transparent;
  color: white;
  position: relative;

  .section-bg {
    @include height((xs: 530px, md: 400px, lg: 440px));
    @include top((xs: 0, md: 11));
    background-repeat: repeat;
  }

  &__column {
    @include d-flex(start, center, column);
    @include height((xs: initial, md: 400px, lg: 440px));
    @include alignItems((xs: center, md: start));
    @include col((xs: 12, md:6, xl: 5));
    @include mb((xs:10, md: 0));
    @include textAlign((xs: center, md: unset));
    z-index: 1;

    .open-live-account-banner__title {
      @include mb((xs: 7, md: 12, lg: 9));
    }
  }

  &__title {
    @include fontSize((xs: 48px, lg: 56px));
    @include lineHeight((xs: 58px, lg: 66px));
    font-weight: 700;
    font-family: $font-family1;

    b {
      display: block;
    }

    .common-svg {
      display: block;
    }
  }

  &__description {
    @include fontSize((xs:16px, lg: 18px));
    @include lineHeight((xs: 22px, md: 26px, lg: 30px));
  }

  .open-account {
    @include d-flex(center, center, column);
    @include height((xs: 330px, md: 400px, lg: 440px));
    @include col((xs: unset, md: 6, lg: 5));
    @include ml((lg: auto));
    @include mt((xs: 0, md: sp(11, n)));
    z-index: 1;

    &:before {
      content: '';
      display: block;
      border-radius: 6px;
      box-shadow: box-shadow(15, 0.1);
      background: linear-gradient(0.35deg, #262a4b 0.29%, #44486c 99.67%);
      position: absolute;
      z-index: -1;
      width: calc(100% - 26px);
      height: 100%;
    }

    .open-live-account-banner {
      &__title {
        @include fontSize((xs:36px, lg: 42px));
        @include lineHeight((xs: 44px, md: 52px));
        font-family: $font-family1;

        font-weight: normal;
        text-align: center;

        svg {
          @include fillLogo($uinvex-blue, white, $blue);
        }
      }

      &__description {
        @include fontSize((xs: 16px, lg: 22px));
        @include lineHeight((xs: 22px, md: 26px, lg: 34px));
        @include width((xs: 300px, md: 200px, lg: 285px));
        margin: 15px 0 40px 0 !important;
        text-align: center;
      }
    }

    .open-account {
      text-align: center;

      .open-live-account-banner {
        &__title {
          margin-bottom: sp(7);
          font-weight: bolder;
        }

        &__description {
          @include mb((xs:10, md: 11));
        }
      }

      button {
        margin: 0 auto;
      }
    }

    button {
      background-color: $light-blue;
      border-radius: $border-radius;
      width: 190px;
      height: $btn-size-lg;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      a {
        color: $blue;
      }

      &:hover {
        background-color: $light-blue;
      }
    }
  }

  @media (max-width: $viewport-lg-w) {
    .open-live-account-banner__column {
      justify-content: center;

      .open-live-account-banner {
        &__title {
          margin-bottom: sp(12) !important;
        }
      }
    }

    .open-account {
      text-align: left;
      justify-content: center;

      button {
        align-self: center;
        margin: 0;
      }
    }
  }

  @media (max-width: $viewport-md-w) {
    z-index: 10;

    .section-bg {
      background: $blue !important;
    }

    .open-live-account-banner__column {
      .open-live-account-banner {
        &__title {
          width: 350px;
          text-align: center;
          padding-top: 0;
          margin-bottom: sp(7) !important;
        }
      }
    }

    &__row {
      flex-direction: column;
    }

    .open-account {
      margin-bottom: 0;
      align-items: center;

      .open-live-account-banner {
        &__title {
          padding-top: 0;
        }
      }
    }
  }
}
