@import '~/variables';
@import '~/mixin';

.platform-wrapper {
  .page-top {
    overflow: hidden;

    &__title {
      text-transform: uppercase;
    }

    .download-buttons {
      flex-wrap: wrap;

      button {
        background-color: transparentize($color: $blue, $amount: 0.6);
        border-color: transparent;
        font-size: 14px;
        line-height: 17px;
      }

      .desktop-button {
        text-transform: uppercase;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .store-link {
        flex: 1 0 180px;
      }
    }

    @media (min-width: $viewport-xl-min-w) {
      .blur {
        flex: 0 0 50%;
        max-width: 50%;
      }

      .container {
        padding-top: 7rem !important;
      }

      .download-buttons {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
      }
    }

    @media (min-width: $viewport-lg-min-w) {
      .download-buttons {
        flex: 0 0 100%;
        max-width: 100%;

        .desktop-button {
          margin-bottom: 1.5rem !important;
          margin-right: 0 !important;
        }
      }
    }

    @media (max-width: $viewport-lg-w) {
      .download-buttons {
        .desktop-button {
          text-transform: uppercase;
          flex: 0 0 280px;
        }

        .store-link {
          flex: 0 0 180px;
        }
      }
    }

    @media (max-width: $viewport-lg-w) {
      height: 450px;
      align-items: center;
    }

    @media (max-width: $viewport-md-w) {
      height: 500px;

      &__title {
        font-size: 30px;
        line-height: 40px;
      }

      .download-buttons {
        flex-direction: column;
        width: 100%;

        &.row {
          margin: 0;
        }

        .desktop-button {
          flex: 0 0 50px;
        }

        .store-link {
          flex: 0 0 50px;
          margin-top: 20px;
        }
      }
    }
  }

  .platform-perfect-wrapper {
    display: flex;
    align-items: center;

    .platform-perfect {
      &__header {
        .header {
          &__title {
            text-transform: uppercase;
          }
        }
      }
    }

    @media (max-width: $viewport-lg-w) {
      height: 350px;
    }

    @media (max-width: $viewport-md-w) {
      height: 440px;

      .platform-perfect {
        .content {
          flex: 0 0 colSizePrc(8);
          max-width: colSizePrc(8);
          margin: 0 auto;

          &__item {
            text-align: left;

            &:not(:last-child) {
              border-bottom: 0;

              &:not(:first-child) {
                padding: sp(7) 0 !important;
              }
            }

            &:first-child {
              padding-bottom: sp(7, i);
            }

            &:last-child {
              padding-top: sp(7, i);
            }
          }
        }
      }
    }
  }
}