@import '~/variables';
@import '~/mixin';

.platform-wrapper {
  .page-top {
    height: 500px;
    display: flex;
    align-items: center;
    background: rgb(92, 115, 131);
    color: #fff;
    padding: 0;

    &__title {
      font-size: 40px;
      line-height: 50px;

      > *:last-child {
        font-weight: 600;
      }
    }

    .download-buttons {
      display: flex;

      button {
        background: transparent;
        border-color: #fff;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
      }

      .store-link {
        flex: 0 0 180px;
      }
    }

    @media (max-width: $viewport-md-w) {
      height: 580px;

      &__title {
        font-size: 30px;
        line-height: 40px;
      }

      .download-buttons {
        flex-direction: column;

        .store-link {
          flex: 0 0 50px;
          margin-top: 20px;
        }
      }
    }
  }
}