@import '~/variables';
@import '~/mixin';

.platform-wrapper {
  .page-top {
    @include height((xs: 580px, md: 500px));
    @include d-flex(center);
    background: $dark-grey;
    color: #fff;
    padding: 0;

    &__container {
      @include pt((xs: 15));
    }

    &__column {
      @include col((lg: 7));
    }

    &__title {
      @include fontSize((xs: 30px, md: 40px));
      @include lineHeight((xs: 40px, md: 50px));
      @include mb((xs: 7));

      &--bold {
        font-weight: 600;
      }
    }

    .download-buttons {
      @include d-flex();
      @include col((xs: 12, lg: 9, xl: 8));
      @include flexDirection((xs: column, md: row));

      &__button {
        background: transparent;
        border-color: #fff;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;

        &--desktop {
          @include mr((xs:6));
          @include px((xs: 7));
        }

        &--app-store,
        &--play-store {
          @include flex((xs: 0 0 50px, md: 0 0 180px));
          @include px((xs: 7));
          @include mt((xs: 7, md: 0));
        }

        &--app-store {
          @include mr((xs: 6));
        }
      }
    }
  }
}