@import '~/variables';
@import '~/mixin';

.open-live-account-banner {
  @include p((xs: sp(12) 0, md: sp(15) 0, lg: 17));
  @include d-flex(center);
  background: #1a1b1c;
  color: #fff;
  overflow: hidden;
  position: relative;

  &:before {
    @include top((xs: 0, lg: unset));
    @include left((xs: 0, lg: -52.5%));
    @include height((xs: 50%, lg: 2000%));
    position: absolute;
    content: '';
    display: block;
    background: $dark-text;
    width: 100%;
    transform: rotate(20deg);
    opacity: 0.5;
  }

  &__column {
    @include col((xs: 12, lg: 5));
    @include mb((xs:12, lg: 0));

    .open-live-account-banner__title {
      margin-bottom: sp(7);
    }
  }

  &__title {
    @include fontSize((xs: 24px, md: 36px));
    @include lineHeight((xs: 32px, md: 46px));

    b {
      display: block;
    }
  }

  &__description {
    @include fontSize((xs: 16px, md: 18px));
    @include lineHeight((xs: 26px, md: 30px));
  }

  .open-account {
    @include col((xs:12, lg:4, xl: 3));
    @include mt((xs: 12, lg: 0));
    @include offset((lg: 3));
    @include textAlign((xs: left, lg: center));

    .open-live-account-banner {
      &__title {
        margin-bottom: sp(3);
        font-weight: bolder;
      }

      &__description {
        @include mb((xs:8, md:6));
      }
    }

    button {
      @include m((xs: 0, lg: 0 auto));
    }
  }

  button {
    @include width((xs: 100%, md: 235px));
    @include height((xs: 50px, md: $btn-size-lg));
    background: $dark-blue;
    border-radius: $border-radius;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: $viewport-lg-w) {

    &:before {
      transform: rotate(0deg);
    }
  }
}