@import '~/variables';
@import '~/mixin';

.about-wrapper {
  &__page-top {
    @include height((xs: 660px, md: 627px, lg: 608px));
    @include flexDirection((xs: column, md: row));
    @include alignItems((xs: start, lg: center));
    @include justifyContent((xs: start));
    display: flex;
    color: $dark-text;
    margin-top: 60px;

    .page-top {
      &__header {
        @include col((xs: 12, md: 8, lg: 7, xl: 6));
      }

      &__title {
        @include fontSize((xs: 32px, md: 44px, lg:48px));
        @include lineHeight((xs: 40px, md: 64px, lg: 64px));
        @include mb((xs: sp(7, i), sm: sp(9, i)));
        font-weight: 400;

        svg {
          @include fillLogo($blue, black, $dark-blue);
          vertical-align: bottom;
        }
      }

      &__description {
        @include col((xs: 12, md: 10, lg: 12));
        @include fontSize((xs: 16px, md: 16px, lg:22px));
        @include lineHeight((xs: 22px, md: 26px, lg: 34px));
        @include mb((xs: sp(10, i), sm: sp(11, i)));
      }
    }

    button {
      @include width((xs: 100%, md: 255px, lg: 190px));
      background: $blue;
      border-radius: $border-radius;
      height: $btn-size-lg;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    @media (max-width: $viewport-lg-w) {
      .secondary-bg {
        right: -90px;
      }
    }

    @media (max-width: $viewport-md-w) {
      .secondary-bg {
        top: unset;
        right: unset;
        bottom: 0;
      }
    }

    @media (max-width: $viewport-xs-min-w) {
      .secondary-bg {
        background-position-y: 100% !important;
        bottom: -130px;
      }
    }
  }
}