@import '../variables';

// Overall
$border-radius: 0px;

// Colors
$bsfx-blue: #1722c6;
$dark-blue: #444fed;
$blue: #7e87ff;
$dark-text: #262a4b;
$text: #6f6f6f;
$grey-bg-light: #f8f8f9;
$grey-bg: #f5f6f8;
$dark-grey: #cacfd5;
$grey: #f1f2f2;
$red: #ea3131;
$green: #40d9a2;
