@import '~/variables';
@import '~/mixin';

.account-types-for-trading-styles-section {
  &__title {
    @include fontSize((xs:24px, md:36px));
    @include lineHeight((xs:34px, md:46px));
    @include textAlign((xs: left, md: center));
    font-weight: 600;
    color: $dark-text;
  }

  &__description {
    @include textAlign((xs: left, md: center));
    font-size: 16px;
    line-height: 26px;
    color: $text;
  }

  .common-cards {
    svg {
      padding: 13px;
      border-radius: $border-radius;
      background: $grey-bg;
      width: 50px;
      height: 50px;
      stroke: $blue;
    }

    &__item {
      height: 200px;
      padding: 30px;

      &-header {
        div {
          display: flex;
          align-items: center;
        }

        span {
          font-weight: 300;
          font-size: 40px;
          text-align: right;
          color: $blue;
          margin-left: auto;
          display: flex;
        }
      }

      &-content {
        .greyText {
          font-size: 16px;
          line-height: 26px;
          color: $text;
        }
      }
    }
  }
}