@import '~/variables';

.banner-card {
  &__context {
    .context-card {
      &__title {
        &.blue {
          font-family: $font-family1;
          color: $dark-text;
        }
      }

      &__text {
        color: $text;

        &.blue {
          span {
            color: $blue;
          }
        }
      }
    }
  }

  &__options {
    .banner-options {
      &__nav {
        .common-button {
          svg {
            fill: $blue;
          }
        }
      }
    }
  }
}