@import '~/variables';
@import '~/mixin';

.about-wrapper {
  &__in-touch {
    @include d-flex(center);
    background: $dark-text;
    padding: 140px 0;
    color: #fff;

    .in-touch {
      &__row {
        flex-direction: column;
      }

      &__header {
        @include col((lg: 8));
        @include offset((lg: 2));
        text-align: center;
      }

      &__title {
        @include mb((xs:7));
        font-size: 36px;
        line-height: 46px;
      }

      &__description {
        @include mb((xs:13));
        font-size: 18px;
        line-height: 30px;
      }

      &__cards {
        .card {
          @include col((xs: 12, md: 4));
          @include mb((xs: 9, md: 0));
        }

        &-container {
          @include col((xs: 12, sm: 8, md: 12));
          @include mx((sm: auto));
        }

        .common-cards__item {
          @include height((xs: 200px, lg: 180px));
          background: rgba(255, 255, 255, 0.05);
          justify-content: flex-start;

          &-header {
            font-weight: 300;
            font-size: 65px;
            line-height: 50px;
            text-transform: capitalize;
            color: $blue;
            margin-bottom: sp(7);
          }

          &-content {
            font-size: 16px;
            line-height: 26px;
            color: #ffffff;
          }
        }
      }
    }
  }
}