@import '~/variables';

.about-wrapper {
  &__in-touch {
    display: flex;
    align-items: center;
    background: #1a1b1c;
    color: #fff;
    padding: 140px 0;

    .in-touch {
      &__title {
        font-size: 36px;
        line-height: 46px;
      }

      &__description {
        font-size: 18px;
        line-height: 30px;
      }

      &__cards {
        .common-cards__item {
          background: rgba(255, 255, 255, 0.05);
          height: 180px;
          justify-content: flex-start;

          &-header {
            font-weight: 300;
            font-size: 65px;
            line-height: 50px;
            text-transform: capitalize;
            color: $blue;
            margin-bottom: 20px;
          }

          &-content {
            font-size: 16px;
            line-height: 26px;
            color: #ffffff;
          }
        }

        @media (max-width: $viewport-lg-w) {
          .common-cards__item {
            height: 200px;
          }
        }
      }
    }
  }
}
