@import '~/variables';
@import '~/mixin';

.home-wrapper {
  .page-top {
    @include mt((xs: $menu-height-main-sm, md: $menu-height-main-md, lg: $menu-height-main-lg));
    @include height((xs: 570px, sm: 608px, md: 628px, lg:608px));
    @include alignItems((xs: start, md: center));
    display: flex;
    color: $dark-text;

    &__title {
      @include fontSize((xs:28px, sm: 32px, md: 44px, lg:48px));
      @include lineHeight((xs:36px, sm: 40px, md: 64px, lg: 64px));
      font-family: $font-family1;
    }

    &__description {
      @include fontSize((xs:16px, sm: 20px, md: 22px, lg:22px));
      @include lineHeight((xs:22px, sm: 28px, md: 30px, lg: 34px));
    }

    button {
      @include height((xs: $btn-size-md, sm: $btn-size-lg));
      @include width((xs: 225px, lg: 190px));
      font-family: $font-family1;
      background: $blue;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    .section-bg {
      .secondary-bg {
        @include height((xs: 588px, sm: 625px, md: 696px, lg: 100%));
        @include right((xs: auto, md: -40px, lg: 0));
      }
    }

    @media (max-width: $viewport-sm-w) {
      .section-bg {
        .secondary-bg {
          background-position: 0 100% !important;
          left: 0;
        }
      }
    }
  }
}