@import '~/variables';
@import '~/mixin';

.placeholder-wrapper {
    @include d-flex(center, center);
    @include textAlign((xs: center));
    @include height((xs: 100%));
    background-color: $grey-bg;
    color: $dark-grey;

    .placeholder-text {
        animation: blinker 1.5s linear infinite;
        font-size: 24px;
        font-weight: 700;
    }

    @keyframes blinker {
        50% {
            opacity: 0.4;
        }
    }
}